  <div class="lvee2008">
    <img src="/images/lvee2008t.gif" alt="Linux Vacation 2008" width="446" height="287"  />
  </div>

  <div class="text-place-white">
    <h1>Кратко о конференции</h1>
    <p>26-29 июня 2008 г. под Гродно пройдёт IV Международная конференция разработчиков и пользователей свободного программного обеспечения «Linux Vacation / Eastern Europe» (LVEE 2008). Мероприятие объединяет общение и активный отдых специалистов и энтузиастов в области свободного ПО, включая платформу GNU/Linux, но не ограничиваясь ею. </p>
    <p>Организатором LVEE 2008 является Minsk Linux Users Group при поддержке активистов из Гродно и Бреста.</p>
    <p>Заявки на участие принимаются до 10 июня, тезисы докладов - до 20 июня.</p>
    <p>Подробности на странице <a href="/ru/about">о проекте</a>.</p>
  </div>

  <div class="blue-block">
    <div class="blue-block-left">
      <h1>Спонсорам LVEE</h1>
      <ul>
        <li>Поддержку мероприятию традиционно оказывают IT-компании, заинтересованные в сотрудничестве с квалифицированными специалистами в области свободного ПО, а также в развитии феномена свободного программного обеспечения.  
        <li>Участие в LVEE-2008 дает компаниям эксклюзивную возможность работы напрямую с аудиторией, состоящей из наиболее активных разработчиков и пользователей свободного ПО.</li>
      </ul>
      <p class="gipLink"><a href="/ru/sponsors">Подробнее</a></p>
    </div>

    <div class="blue-block-right">
      <h1>Новости</h1>
      <table>
        <tr>
          <th>21.05.2008</th>
          <td>На lvee.org введена многоязычная инфраструктура. Сегодня мы работаем в режиме тестирования, поэтому сохраняйте спокойствие в случае неполадок</td>
        </tr>
        <tr>
          <th>12.05.2008</th>
          <td>Запущен сайт конференции</td>
        </tr>
      </table>
      <!-- p class="gipLink"><a href="/news">Все новости</a></p -->
    </div>

    <div class="clear"></div>

  </div><!-- blue-block -->
