  <div class="lvee2008"><img src="/images/lvee2008.gif" alt="Linux Vacation Minsk 2008" width="446" height="287"  />
  </div>

	<div class="text-place-white">
    	<h1>Кратко о конференции</h1>
        <p>26-29 июня 2008 пройдёт очередной международный слёт и конференция «Linux Vacation / Eastern Europe» (LVEE 2008). Мероприятие объединяет общение и активный отдых энтузиастов в области свободного программного обеспечения и Linux в частности. </p>

		<p>Организатором LVEE 2008 является Minsk Linux Users Group при поддержке активистов из Гродна и Бреста.</p>

		<p>Список спонсоров конференции уточняется.</p>

		<p>Подробности на странице <a href="about.html">о проекте.</a></p>

    </div>
	<div class="blue-block">
    	<div class="blue-block-left">
    		<h1>Слоны для спонсоров</h1>
    		<ul>
    			<li>Назначение точная дата проведения конференции.</li>
				<li>На слет приглашаются прежде всего участники проектов по разаботке и распространению свободного ПО, а также все, кто разделяет философию информационной свободы. Последний срок подачи заявки 22 мая.</li>
				<li>Для регистрации заполните <a href="#">анкету участника</a>.</li>
				<li>Назначена точная дата точная дата проведения конференции.</li>
				<li>Назначена точная дата проведения конференции.</li>
			</ul>
			<p class="gipLink"><a href="#">Все бонусы.</a></p>
		</div>

        <div class="blue-block-right">
    		<h1>Новости</h1>
    		<table>
    		<% @news.each do |news| %>
        	<tr>
        	  <th><%= sexy_time_format(news.created_at) %></th>
        	  <td><%=h news.title %></td>
      	  </tr>
      	 <% end %>
        </table>
			<p class="gipLink"><a href="/news">Все новости</a></p>
		</div>

    <div class="clear"></div>

  </div><!-- blue-block -->
