  <div class="lvee2008">
    <a href="/en/sponsors"><img src="/images/lvee2008t.gif" alt="Linux Vacation 2008" width="446" height="287" /></a>
  </div>

  <div class="text-place-white">
    <h1>The Conference</h1>
    <p>The IVth International conference of developers and users of free / open source software “Linux Vacation / Eastern Europe” (LVEE 2008) will take place on June 26-29. The event combines both communication and active rest of the enthusiasts of free software in common and Linux in particular. </p>
    <p>LVEE 2008 is organized by Minsk Linux Users Group with support of Grodno and Brest activists.</p>
    <p>Registration deadline is June 10.</p>
    <p>See the <a href="/en/about"> About</a> page for more details.</p>
  </div>

  <div class="blue-block">
    <div class="blue-block-left">
      <h1>LVEE sponsors</h1>
      <ul>
        <li>The event is traditionally supported by IT companies, interested in cooperation with qualified specialists in open source software area, as well as in developing the phenomenon of free software.</li>

<li>By participating in LVEE-2008 companies are obtaining an exclusive opportunity to work  directly with the audience, formed by most active developers and users of free / open source software. </li>
      </ul>
      <p class="gipLink"><a href="/en/sponsors">Details</a></p>
    </div>

    <div class="blue-block-right">
      <h1>News</h1>
      <table>
        <tr>
          <th>6.06.2008</th>
          <td>Because of delay in providing information on changing prices by the tourist base we have to change the fee amount from 50,000 to 60,000 BRB. The organization committee is apologizing to all registered participants.</td>
        </tr>
        <tr>
          <th>21.05.2008</th>
          <td>lvee.org has got its multilanguage infrastructure. It is under testing today, so please be patient in case of any malfunction</td>
        </tr>
        <tr>

          <th>12.05.2008</th>
          <td>Our new site was opened</td>
        </tr>

      </table>
      <!-- p class="gipLink"><a href="/news">Все новости</a></p -->
    </div>

    <div class="clear"></div>

  </div><!-- blue-block -->
