  <div class="lvee2008">
    <img src="/images/lvee2008t.gif" alt="Linux Vacation 2008" width="446" height="287"  />
  </div>

  <div class="text-place-white">
    <h1>Крыху пра канферэнцыю</h1>
    <p>26-29 чэрвеня 2008 г. пад Гародняй адбудзецца IV Міжнародная канферэнцыя распрацоўшчыкаў і карыстальнікаў свабоднага праграмнага забеспячэння «Linux Vacation / Eastern Europe» (LVEE 2008). Мерапрыемства спалучае нефармальныя зносіны і актыўны адпачынак адмыслоўцаў і энтузіястаў у сферы свабоднага ПЗ, у тым ліку платформу GNU/Linux, але не толькі. </p>
    <p>Арганізатарам LVEE 2008 з'яўляецца Minsk Linux Users Group пры падтрымцы актывістаў з Гародні і Брэста.</p>
    <p>Заяўкі на ўдзел прымаюцца да 10 чэрвеня, тэзісы дакладаў - да 20 чэрвеня.</p>
    <p>Падрабязнасці на старонцы <a href="/by/about">аб праекце</a>.</p>
  </div>

  <div class="blue-block">
    <div class="blue-block-left">
      <h1>Спонсарам LVEE</h1>
      <ul>
        <li>Мерапрыемства традыцыйна падтрымліваюць IT-кампаніі, зацікаўленыя ў супрацоўніцтве з кваліфікаванымі адмыслоўцамі са сферы свабоднага ПЗ, а таксама ў развіцці феномена свабоднага праграмнага забеспячэння.  
        <li>Удзел у LVEE-2008 дае кампаніям эксклюзіўную магчымасць працаваць наўпрост з аўдыторыяй, якая складаецца з найактыўнейшых распрацоўшчыкаў і карыстальнікаў свабоднага ПЗ.</li>
      </ul>
      <p class="gipLink"><a href="/by/sponsors">Падрабязней</a></p>
    </div>

    <div class="blue-block-right">
      <h1>Навіны</h1>
      <table>
        <tr>
          <th>21.05.2008</th>
          <td>На lvee.org з'явілася шматмоўная інфраструктура. Сёння мы працуем у тэставым рэжыме, таму не здзіўляйцеся, калі штосьці не працуе</td>
        </tr>
        <tr>
          <th>12.05.2008</th>
          <td>Запрацаваў сайт канферэнцыі</td>
        </tr>
      </table>
      <!-- p class="gipLink"><a href="/news">Усе навіны</a></p -->
    </div>

    <div class="clear"></div>

  </div><!-- blue-block -->
