db/*.sqlite3
*~
log/*.log
*.swp
tags
coverage
semantic.cache
db/development.sqlite3.save
db/development_structure.sql
db/schema.rb
config/initializers/google_parameters.rb
cache
test/tmp
nbproject
public/uploads
public/assets
