%ul
  %li= link_to_unless_current(t("label.statistics.title.full"), |
      statistics_path(:length => "full"))
  %li= link_to_unless_current(t("label.statistics.title.month"), |
      statistics_path(:length => "month"))
  %li= link_to_unless_current(t("label.statistics.title.week"), |
      statistics_path(:length => "week"))
  %li= link_to_unless_current(t("label.statistics.title.conference"), |
      statistics_conference_path(:id => Conference.finished.last.name))
