<h1> Папярэдняя праграма канферэнцыі </h1>


<h2> 26 чэрвеня (чацвер) </h2>


<ul>
  <li> 12:00 - 18:00 - прыезд удзельнікаў, размяшчэнне на тэрыторыі турыстычнай базы </li>
  <li> 18:00 - адкрыццё канферэнцыі; святочная вячэра, якая паволі перацякае ў нефармальныя зносіны і начныя шашлыкі </li>
</ul>


<h2> 27 чэрвеня (пятніца) </h2>


<ul>
  <li> 8:30 - 9:30 - сняданак </li>
  <li> 9:30 - 11:00 - даклады </li>
  <li> 11:00 - 11:30 - перапынак </li>
  <li> 11:30 - 13:00 - выступы спонсараў </li>
  <li> 13:00 - 15:00 - абед </li>
  <li> 15:00 - 18:30 - даклады </li>
  <li> 18:30 - 19:30 - вячэра </li>
  <li> 19:30 - абмеркаванне дакладаў; нефармальныя зносіны </li>
</ul>


<h2> 28 чэрвеня (субота) </h2>


<ul>
  <li> 8:30 - 9.30 - сняданак </li>
  <li> 9:30 - 11:00 даклады </li>
  <li> 11:00 - 11:30 - перапынак </li>
  <li> 11:30 - 13:00 - выступы спонсараў (11:30 - 12:00 - Promwad) </li>
  <li> 13:00 - 15:00 - абед </li>
  <li> 15:00 - 17:30 - Debian Workshop (+ даклады) </li>
  <li> 17:30 - 21:00 - вячэра і культурная праграма </li>
</ul>


<h2> 29 чэрвеня (нядзеля) </h2>


<ul>
  <li> 8:30 - 9:30 - сняданак </li>
  <li> 10:00 - падвядзенне высноваў; выезд удзельнікаў </li>
</ul>
