<h1> Попередня програма конференції </h1>


<h2> 26 червня (четвер) </h2>


<ul>
  <li> 12:00 - 18:00 - заїзд учасників, облаштування на території турбази </li>
  <li> 18:00 - відкриття конференції; урочиста вечеря, яка поволі переходить в неформальне спілкування і нічні шашлики </li>
</ul>


<h2> 27 червня (п'ятниця) </h2>


<ul>
  <li> 8:30 - 9:30 - сніданок </li>
  <li> 9:30 - 11:00 - доповіді </li>
  <li> 11:00 - 11:30 - перерва </li>
  <li> 11:30 - 13:00 - виступи спонсорів </li>
  <li> 13:00 - 15:00 - обід </li>
  <li> 15:00 - 18:30 - доповіді </li>
  <li> 18:30 - 19:30 - вечеря </li>
  <li> 19:30 - обговорення доповідей; неформальна частина </li>
</ul>


<h2> 28 червня (субота) </h2>


<ul>
  <li> 8:30 - 9.30 - сніданок </li>
  <li> 9:30 - 11:00 - доповіді </li>
  <li> 11:00 - 11:30 - перерва </li>
  <li> 11:30 - 13:00 - виступи спонсорів (11:30 - 12:00 - Promwad) </li>
  <li> 13:00 - 15:00 - обід </li>
  <li> 15:00 - 17:30 - Debian Workshop (+ доповіді) </li>
  <li> 17:30 - 21:00 - вечеря і культурна програма </li>
</ul>


<h2> 29 червня (неділя) </h2>


<ul>
  <li> 8:30 - 9:30 - сніданок </li>
  <li> 10:00 - підведення підсумків; від'їзд учасників </li>
</ul>

