<h1> Preliminary Conference Program  </h1>


<h2> June 26 (Thursday) </h2>


<ul>
  <li> 12:00 - 18:00 - arrival of attendants, settling down on the tourist camp territory</li>
  <li> 18:00 - opening of the conference; dinner-party, gradually turning into non-formal communication and night shashlik </li>
</ul>


<h2> June 27 (Friday)</h2>


<ul>
  <li> 8:30 - 9:30 - breakfast </li>
  <li> 9:30 - 11:00 - reports </li>
  <li> 11:00 - 11:30 - break </li>
  <li> 11:30 - 13:00 - sponsors’ presentations </li>
  <li> 13:00 - 15:00 - dinner </li>
  <li> 15:00 - 18:30 - reports </li>
  <li> 18:30 - 19:30 - supper </li>
  <li> 19:30 - discussions of reports; non-formal part </li>
</ul>


<h2> June 28 (Saturday) </h2>


<ul>
  <li> 8:30 - 9.30 - breakfast </li>
  <li> 9:30 - 11:00 - reports </li>
  <li> 11:00 - 11:30 - break </li>
  <li> 11:30 - 13:00 - sponsors’ presentations (11:30 - 12:00 - Promwad) </li>
  <li> 13:00 - 15:00 - dinner </li>
  <li> 15:00 - 17:30 - Debian Workshop (with its reports) </li>
  <li> 17:30 - 21:00 - supper and cultural program </li>
</ul>


<h2> June 29 (Sunday) </h2>


<ul>
  <li> 8:30 - 9:30 - breakfast </li>
  <li> 10:00 - final part of the conference; participants’ departure </li>
</ul>
