<h1> Предварительная программа конференции </h1>


<h2> 26 июня (четверг) </h2>


<ul>
  <li> 12:00 - 18:00 - заезд участников, обустройство на территории турбазы </li>
  <li> 18:00 - открытие конференции; торжественный ужин, плавно переходящий в неформальное общение и ночные шашлыки </li>
</ul>


<h2> 27 июня (пятница) </h2>


<ul>
  <li> 8:30 - 9:30 - завтрак </li>
  <li> 9:30 - 11:00 - доклады </li>
  <li> 11:00 - 11:30 - перерыв </li>
  <li> 11:30 - 13:00 - выступления спонсоров </li>
  <li> 13:00 - 15:00 - обед </li>
  <li> 15:00 - 18:30 - доклады </li>
  <li> 18:30 - 19:30 - ужин </li>
  <li> 19:30 - обсуждение докладов; неформальная часть </li>
</ul>


<h2> 28 июня (суббота) </h2>


<ul>
  <li> 8:30 - 9.30 - завтрак </li>
  <li> 9:30 - 11:00 доклады </li>
  <li> 11:00 - 11:30 - перерыв </li>
  <li> 11:30 - 13:00 - выступления спонсоров </li>
  <li> 13:00 - 15:00 - обед </li>
  <li> 15:00 - 17:30 - доклады </li>
  <li> 17:30 - 21:00 - ужин и культурная программа </li>
</ul>


<h2> 29 июня (воскресенье) </h2>


<ul>
  <li> 8:30 - 9:30 - завтрак </li>
  <li> 10:00 - подведение итогов; отъезд участников </li>
</ul>
