<h1>Доклады и тезисы прошлых конференций</h1>

<h2 style="padding-top: 50px;">LVEE 2007</h2>
<p><strong>Доклады:</strong></p>
<ul>
   	<li> И. Нечай (Луганск, Украина) <a href="http://lvee.org.by/index.php/LVEE_2007_05">"Проблемы защиты интеллектуальной собственности в сфере программного обеспечения"</a> </li>

   	<li>В. Краев (Минск, Беларусь)<a href="http://lvee.org.by/index.php/LVEE_2007_17"> "Организация и администрирование домашних ЛВС с доступом к провайдеру(ам) на базе ОС Линукс"</a> (<a href="http://lvee.org.by/lvee_2007_17.odp">презентация в формате odp</a>, <a href="http://lvee.org.by/lvee_2007_17_paper.doc">текст доклада в формате doc</a>) </li>
	<li>Р. Гаранин (Брест) <a href="http://lvee.org.by/index.php/LVEE_2007_02">"Сервисы Novell для Linux"</a> </li>
	
 	<li>С. Грыцько (Львов, Украина) <a href="http://lvee.org.by/index.php/LVEE_2007_13">"Разработка локализованного дистрибутива Linux с широкой функциональностью для научных и образовательных учреждений с максимальной простотой внедрения"</a> </li>

	<li>Shogbeni Abiola Surajudeen (Lagos, Nigeria) <a href="http://lvee.org.by/index.php/2007_14">"OpenSource Software in schools - a panel discussion"</a> </li>
	<li>В. Журавлев, Е. Котяшев (Могилев, Беларусь) <a href="http://lvee.org.by/index.php/2007_18">"Использование математической программы sсilab в учебном процессе в БРУ и МГУ им. А.А. Кулешова"</a> (<a href="http://lvee.org.by/lvee_2007_18.odp">презентация в формате odp</a>) </li>
	<li>И. Чубин (Киев, Украина) <a href="http://lvee.org.by/index.php/LVEE_2007_06">"LILALO - система ведения журналов работы в консоли Unix-системы" </a>(<a href="http://lvee.org.by/lvee_2007_06_png.tar.bz2">слайды в формате png</a>)</li>

	<li>А. Лапшин (Санкт-Петербург, РФ) <a href="http://lvee.org.by/index.php/LVEE_2007_07">"SUN STUDIO PERFORMANCE ANALYSER"</a> </li>
	<li>А. Линевич (Киев, Украина) <a href="http://lvee.org.by/index.php/LVEE_2007_08">"Автоматизация задач на серверах. Поддержка однотипных серверов"</a> (<a href="http://lvee.org.by/lvee_2007_08.pdf">презентация в формате pdf</a>) </li>
	<li>А. Боровский (Минск) <a href="http://lvee.org.by/index.php/LVEE_2007_09">"Платформа разработки мобильных приложений OpenMoko"</a> (<a href="http://lvee.org.by/lvee_2007_09.pdf">презентация в формате pdf</a>) </li>

	<li>В.Васильев, П.Фиалко (Витебск) <a href="http://lvee.org.by/index.php/LVEE_2007_10">"MAEMO - платформа разработки программ для ОС Internet Tablet"</a> (<a href="http://lvee.org.by/lvee_2007_10.odp">презентация в формате odp</a>) </li>
	<li>Лоенко (Санкт-Петербург, РФ) Java, Ajax и их использование при создании динамических web страниц</li>
    <li>А. Кушниревская (Минск) "Использование Open Source проектов для обеспечения качества ПС" (<a href="http://lvee.org.by/lvee_2007_11.odp">презентация в формате odp</a>) </li>
    <li>Б. Турчик (Москва, РФ) <a href="http://lvee.org.by/index.php/LVEE_2007_12">"Организация процесса разработки программных продуктов с использованием свободного ПО"</a> (<a href="http://lvee.org.by/lvee_2007_12.odp">презентация в формате odp</a>) </li>

    <li>В.В. Савин (Вильнюс, Литва) <a href="http://lvee.org.by/index.php/LVEE_2007_15">"Оценка Open Source проекта по CMMI"</a> (<a href="http://lvee.org.by/lvee_2007_15.odp">презентация в формате odp</a>) </li>
    <li>O. Mordeniz (Paris, France) <a href="http://lvee.org.by/index.php/LVEE_2007_19">"Mobile software development house"</a> </li>
    <li>В.Хоружик, К.Лашкевич (Минск) Введение в Access Linux Platfom </li>
    <li>С. Довнар (Минск) <a href="http://lvee.org.by/index.php/LVEE_2007_04">"Использование операционной системы Linux в активных сетевых устройствах SOHO сегмента"</a> </li>   
    <li>П. Мирончик (Минск, Беларусь) "Network Accessed Storages" </li>

	<li> П. Чеботарёв (Минск) <a href="http://lvee.org.by/index.php/LVEE_2007_03">"Кроссплатформенная система для установки и управления операционными системами в распределенных гетерогенных сетях"</a> (<a href="http://lvee.org.by/lvee_2007_03.ppt">презентация в формате ppt</a>) </li>
	<li>В.К.Савин (Вильнюс, Литва) <a href="http://lvee.org.by/index.php/LVEE_2007_16">"Применение Open Source и Freeware систем для глобальных корпоративных информационных систем"</a> </li>
	<li>Д. Надь (Будапешт, Венгрия) "Семинар по гибкой методологии разработки ПО" (<a href="http://lvee.org.by/lvee_2007_20.odp">презентация в формате odp</a>) </li>

	<li>А. Шевченко (Донецк, Украина) <a href="http://lvee.org.by/index.php/LVEE_2007_01">"Опыт успешной разработки коммерческого проекта на базе решений OpenSource"</a> </li>
 </ul>

<p><strong>Важные мероприятия:</strong></p>
<ul>
	<li>Круглый стол о проблемах образования</li>
	<li>Cеминар с представителями спонсоров</li>

	<li>Экскурсия по г. Гродно </li>
</ul>
    
<h2 style="padding-top: 50px;">LVEE 2006</h2>
<p><strong>Доклады:</strong></p>
<ul>
   	<li>А. Шваяков (Минск)  <a href="http://lvee.org.by/index.php/26_01">"Открытый взгляд (Особенности восприятия открытых технологий)".</a>. <a href="http://www.lvee.org.by/lvee_abstr_26_01.odp">Презентация (в формате odp)</a></li>
    <li>Е. Гоманова (Брест)  <a href="http://lvee.org.by/index.php/26_02">"Использование модели периферического зрения в графическом интерфейсе".</a>. <a href="http://www.lvee.org.by/lvee_abstr_26_02.odp">Презентация (в формате odp)</a></li>

    <li>А. Сергеев (Стокгольм, Швеция)  <a href="http://lvee.org.by/index.php/26_03">"Интеграция в корпоративную сеть и обеспечение безопасности мобильных терминалов".</a></li>
    <li>И.Цеглевский (Санкт-Петербург, РФ)  <a href="http://lvee.org.by/index.php/26_04">"Sun Studio 11: writing efficient applications for a multi-core world".</a>.</li>
    <li>С. Рубашевский, Е. Цуприк (Брест) "Объединённый Freelance проект по созданию и организации централизованной разработки коммерческого и open-source ПО"</li>
    <li>С. Трофимов (Минск) "Использование сервера linux в домене windows"</li>
    <li>М. Лебединский (Гомель) "Требования пользователя к платформе"</li>

    
    <li>К. Лепихов (Электросталь, РФ)  <a href="http://lvee.org.by/index.php/27_01">"Применение технологии XUL для RAD".</a>. <a href="http://www.lvee.org.by/lvee_abstr_27_01.tar.bz2">Презентация (в формате MagicPoint)</a></li>
    <li>И. Мартынов (Москва, РФ) <a href="http://lvee.org.by/index.php/27_02">"ОПЫТ РАЗРАБОТКИ SOAP ВЕБ-СЕРВИСА C PHP5". </a>. <a href="http://www.lvee.org.by/lvee_abstr_27_02.odp">Презентация (в формате odp)</a></li>
    <li>А. Шубник (Минск) "Высокопроизводительная отказоустойчивая масштабируемая кластерная ферма с балансировкой нагрузки" <a href="http://www.lvee.org.by/lvee_abstr_27_03.zip">Материалы доклада (в форматах doc и jpg)</a></li>
    <li>Е. Кожуховский (Минск) "Развертывание тарифицируемого доступа в интернет с использованием vpn"</li>

    <li>В. Хiлько (Минск) "Системы автоматической сборки и тестирования"</li>
</ul>

<p><strong>Важные мероприятия:</strong></p>
<ul>
	<li>Круглый стол на тему "Свободное ПО и средства массовой информации"</li>
	<li>Культурная программа </li>
</ul>

