<% scope ||= nil %>
<dl class="<%= column.css_class unless column.css_class.nil? %>">
  <dt>
    <label for="<%= active_scaffold_input_options(column, scope)[:id] %>"><%= column.label %></label>
  </dt>
  <dd>
    <span class="static-value"><%= h(@record.user.occupation) -%></span>
  </dd>
</dl>
