
/* active_scaffold */
.active-scaffold input.text-input {
    width: 200px;
    display:block;
    clear:none;
    float:left;
    border: 1px solid #1492A3
}

.active-scaffold textarea {
    width: 202px;
    height: 150px;
    display:block;
    float:left;
    clear:none;
    border: 1px solid #1492A3
}

.active-scaffold .description {
    display:block;
    float:right;
    width: 150px;
    color: #000;
    padding-top: 5px;
}

.active-scaffold li.form-element dt {
    padding-right: 10px;
    text-align:right;
}

.active-scaffold dt {
    padding-right: 10px;
    text-align:right;
}

.active-scaffold ul {
    list-style:none;
}

.active-scaffold li.form-element div {
    list-style:none;
/*    width: 276px;*/
    float:left;
}

.active-scaffold dd span.static-value{
    width: 272px;
    min-height: 19px;
    padding: 6px 3px;
    display:block;
    float: left;
    font: bold 14px arial;
    margin-bottom: 5px;

}

.active-scaffold select {
    width: 205px;
    border: 1px solid #1492A3
}

.active-scaffold p.note {
    margin-left: 160px;
    font-size:11px;
}

.active-scaffold .view {
    background:none;
    border: 1px solid #1492A3
}

.active-scaffold label {
    color:#000;
}

.active-scaffold a:hover {
    background:none;
}

.active-scaffold h4, .active-scaffold h5 {
    color:#1492A3;
}

.content .left .active-scaffold ul {
    margin-left: -4px;
}

