/*------------------------------------------------- intro ---------------------------------------------------------------*/
html, body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img {
  margin: 0;
  padding: 0;
  border: 0;
}


html, body {
    height:100%;
    width: 100%;
    max-width:100%;
}



body {
  min-height: 100%;
  height: auto; !important;
  color: #515650;
  background: #d3d3d3;
  font: 12px/18px  "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;  
  color: #333;
}



/*------------------------------------------------- /intro ---------------------------------------------------------------*/


.logpass {
  background: #969291;
  line-height: 28px;
  color: white;
  font-weight: bold;
  padding: 0 10px 0 10px;
  min-width: 954px;
  font-size: 11px;
}
	
.logpass div{
  text-align: right;
  width: 500px;
  float:right;
  top: 0;
}

*html div.logpass div {
  margin-top: -12px;
  position: relative;
}


*+html div.logpass div {
 text-align: right;
 position: absolute;
 margin-left: -500px;
 left: 100%;
 top: 0;
 width: 500px;
}

.logpass div input {
  width: 100px;
  line-height: 14px;
  height: 15px;
}

.logpass div input.log-button {
  width: 40px;
  height:22px;
} 

.logpass a {
  color: white;
}

.logpass a:hover {
  color: white;
  text-decoration: underline;
}

.all {
  width: 974px;
  margin: 20px auto 0 auto;
  background: url(../images/bg-all.jpg) repeat-y;
}
	
	
	
/*------------------------------------------------- header ---------------------------------------------------------------*/

.header {
  background: top no-repeat url(../images/bg-header.jpg);
  text-align: center;
  padding-top: 40px;
}

/*------------------------------------------------ /header ---------------------------------------------------------------*/


	
/*------------------------------------------------- content ---------------------------------------------------------------*/
	
.content {
  margin: 10px auto 0 auto;
  width: 918px;
}
	
	
.menu {
  background: url(../images/bg-menu.jpg) repeat-x center;
  font-size: 14px;
  font-weight: bold;
}
	
.menu ul {	
  padding-left: 110px;
}
	
.menu ul li {
  float: left;
  padding: 29px 15px 0 15px;
  line-height: 22px;
  list-style: none;
}
	
.menu ul li a {
  color: #515650;
  text-decoration: none;
}

.menu ul li:hover {
  background: url(../images/bg-menu-hover-sub.jpg) repeat-x top left;
}

.menu ul li a:hover {
  color: #ff7e00;
}
	
.menu  ul li.menu-place {
  background: url(../images/arrow-sub.jpg) no-repeat top;
}
	
.menu  ul li.menu-place a, .menu  ul li.menu-place a:hover {
  color: #ff7e00;
  background: none;
}


#sub-menu {
  background: url(../images/bg-menu-sub.jpg) repeat-x top;
  font-size: 14px;
  font-weight: bold;
  height: 105px;
}

li.menu-place div.sub-menu {
  position: absolute;
  margin-top: 0px;
  height: 14px;
  left: 50%;
  margin-left: -320px;
}

#sub-menu div.sub-menu a, #sub-menu div.sub-menu a:hover {
  line-height: 14px;
  font-size: 12px;
  color: #fff;
  background: none;
  padding-left: 14px;
}

#sub-menu div.sub-menu a:hover {
  text-decoration: underline;
}


* html #sub-menu div.sub-menu {
  margin-top: 15px;
  width: 740px;
}


*+html #sub-menu div.sub-menu {
  margin-top: 15px;
}

.lvee2008 {
  float:left;
  width: 446px;
}	
	
.text-place-white {
  width: 440px;
  float: left;
}
	
.text-place-white h1 {
  padding-left: 20px;
}

.text-place-white p {
  padding: 10px 0 10px 20px;
  text-align: justify;
}
	
	
h1 {
  line-height: 50px;
  font-size: 30px;
  color: #93908d;
}
	
a {
  color: #f75515;
}
	
a:hover {
  color: #f75515;
  text-decoration: none;
}
	
.blue-block {
  background: #e1f4df;
  border-top: 6px solid #beeeba;
  border-bottom: 6px solid #beeeba;
  clear: both;
}
	
.blue-block h1 {
  padding-left: 30px;
}
	
.blue-block ul li {
  list-style: none;
  background: url(../images/arrow.gif) no-repeat left top;
  line-height: 16px;
  padding-left: 52px;
}
	
.blue-block-left {
  float: left;
  width: 420px;
  padding: 10px 10px 20px 10px;
}
	
.blue-block-right {
  float: left;
  width: 420px;
  padding: 10px 10px 20px 20px;
}
	
.simple-text .blue-block-right {
  width: 600px;
}
	
.blue-block-right h1 {
  padding-left: 0px;
}
      
.blue-block-right table th {
  color: #3879f0;
  font-weight: normal;
  width: 70px;
  text-align: left;
}
	
p.gipLink { 
  text-align: right;
  padding: 20px 10px 0 10px;
  font-weight: bold;
  font-size: 13px;
}
	
.simple-text {
  padding: 10px 50px 20px 50px;
}
	
.simple-text p {
  padding: 7px 0;
} 
	
.simple-text ul {
  padding: 7px 50px 7px 50px;
}

.simple-text ul li {
  padding: 5px 0;
}
	
.sitemap {
  padding: 10px 50px 20px 50px;
}

.sitemap ul li li{
  margin-left: 20px;
}
	
.orgcom div{
  clear: both;
  padding-top: 30px;
}
	
.orgcom div ul {
  float: left;
  padding: 0 10px;
  margin-top: 1px;
}
	
.orgcom div li {
  padding: 0;
  list-style: none;
  width: 600px;
}
	
.orgcom div li span{
  background: #ff8400;
  padding: 1px 10px;
  color: #fff;
  font-weight:bold;
}
	
.orgcom div img{
  float: left;
  border: 2px solid #ff8400;
  display: block;
  padding: 0;
  margin: 0;
}

.required {
  color: red;
}

.fieldWithErrors input {
  border: 2px solid red;
  width: 370px;
  height: 34px;
  font-size: 22px;
}


.errorExplanation ul {
  border: 1px solid red;
  background: #B9121B;
  font-weight: bold;
  color: #fff;
  margin: 30px 0;
}


.lang {
  position: absolute;
  text-align: right;
  width: 910px;
  margin-top: -15px;
  }

.lang a{
  color: #333;
  }


/*------------------------------------------------- /content ---------------------------------------------------------------*/




.clear {
  clear: both;
}

/*------------------------------------------------- footer ---------------------------------------------------------------*/


.footer{
  clear: both;
  background: url(../images/bg-foo.jpg) bottom no-repeat;
  padding: 17px 0 45px 29px;
}

.sponsors-logo {
  height: 122px;
  text-align: center;
}
	
.sponsors-logo a {

  text-align: center;
}

.licence {
  padding: 0px 0 20px 0;
  font-family: Sans, Tahoma, Arial;
}
	
.licence p {
  text-align: center;
  color: #313131;
  font-size: 9px;
  font-weight: bold;
}


	
.licence a {
  color: #313131;
}

/*------------------------------------------------- /footer ---------------------------------------------------------------*/





/*------------------------------------------------- all roll-over -- menu --------------------------------------------------------*/



/*------------------------------------------------- /roll -- menu -------------------------------------------------------*/	
