<p>You are welcome to help organizing LVEE. Current tasks are discussed in <a href="http://lists.xdsl.by/cgi-bin/mailman/listinfo/lvee">mail list</a>, and may be some of them are well within your powers.</p>
