<p>Вы можаце дапамагчы арганізацыі LVEE. У <a href="http://lists.xdsl.by/cgi-bin/mailman/listinfo/lvee">спісе ліставання</a> абмяркоўваюцца наяўныя задачы, магчыма, якую-небудзь з іх вы можаце зрабіць.</p>
