<p>Ви можете надати допомогу в організації LVEE. У <a href="http://lists.xdsl.by/cgi-bin/mailman/listinfo/lvee"> розсилці </a> обговорюються поточні задачі, можливо одну з них Вам під силу вирішити.</p>

