<p>Вы можете оказать посильную помощь в организации LVEE. В <a href="http://lists.xdsl.by/cgi-bin/mailman/listinfo/lvee">рассылке</a> обсуждаются текущие задачи, возможно одна из них вам по силам.</p>
