<h1> Пра рассяленне ўдзельнікаў </h1>


<p> Турыстычная база прадастаўляе ўдзельнікам LVEE нумары на 2, 3, 4, 5 чалавек без зручнасцей у нумары: альбо на вялікую хацінку, альбо ў асобным будынку-санвузле. </p> 

<p> Канферэнц-зала з усім патрэбным абсталяваннем, спартовыя пляцоўкі, возера з пясчаным пляжам, сауна, шмат альтанак і мангалаў, цудоўны сасновы лес і галоўнае – поўная адсутнасць доступу ў інтэрнэт – ідэальныя ўмовы для ўзаемін і адпачынку.  </p> 

<p> Намёты і вогнішчы на тэрыторыі забароненыя, таксама не вітаюцца сабакі.  </p>

<p> Перад пачаткам канферэнцыі будзе прадстаўлены папярэдні план рассялення ўдзельнікаў.  </p>
