<h1> О расселении участников </h1>


<p> Турбаза предоставляет в распоряжение участников LVEE номера на 2, 3, 4, 5 человек без удобств в номере, но с удобствами или на большой домик, или в отдельно стоящем здании-санузле. </p> 

<p> Конференц-зал со всем необходимым оборудованием, спортивные площадки, озеро с песчаным пляжем, сауна, огромное количество беседок и мангалов, прекрасный сосновый лес и главное – полное отсутствие доступа к сети Интернет – идеальные условия для общения и отдыха.  </p> 

<p> Палатки и костры на территории запрещены, также не приветствуются собаки.  </p>

<p> Перед началом конференции будет представлен предварительный план расселения участников.  </p>
