<h1> Про розселення учасників </h1>


<p> Турбаза надає в розпорядження учасників LVEE номери на 2, 3, 4, 5 чоловік без зручностей в номері, але із зручностями або на великий будиночок, або в будівлі-санвузлі, яка розміщується поруч. </p> 

<p> Конференц-зал із всім необхідним обладнанням, спортивні майданчики, озеро з піщаним пляжем, сауна, велика кількість альтанок і мангалів, прекрасний сосновий ліс і головне – повна відсутність доступу до мережі Інтернет – ідеальні умови для спілкування та відпочинку.  </p> 

<p> Намети і вогнища на території заборонені, також не вітається наявність собак.  </p>

<p> Перед початком конференції буде надано попередній план розселення учасників.  </p>

