<h1> Accommodation </h1>


<p> LVEE Participants will be accommodated in two-, three-, four- and five-person rooms with common modern conveniences in a cottage or in separate building, and will have in their use a conference hall with all necessary accessories, as well as playgrounds, the lake with a sand beach, sauna, plenty of pavilions and chargrills, fine pine forest and (!) no Internet access at all - thus there are ideal conditions for communication and rest.  </p> 

<p> Three daily meals are included in organization fee. Participants with special favors (diet, vegetarianism, etc.) should inform about that after their registration request is approved, or bring their own food with them. Beer is to be paid separately.  </p> 

<p> Tents and camp-fires are prohibited on the territory, and dogs are also not welcome.</p>

<p> A preliminary plan of settlement will be presented before the conference begins.  </p>
