<h2> Інфармацыя пра ўдзел </h2>

<p> На LVEE найперш запрашаюцца ўдзельнікі праектаў распрацоўкі і распаўсюду свабоднага ПЗ, а таксама ўсе, хто трымаецца філасофіі інфармацыйнай свабоды.  </p>

<p> Каб зарэгістравацца ўдзельнікам, трэба запоўніць <a href="/users/new">рэгістрацыйную форму</a>.</p>

<p> Галоўнай мэтай нашай сустрэчы з'яўляецца знаёмства і абмен ідэямі паміж актывістамі свабодых праграм. Таму пры нястачы месцаў прыярытэт аддаецца актыўным удзельнікам супольнасці - тым, хто не паляніўся ўзгадаць, запаўняючы рэгістрацыйную форму, пра свой удзел у канкрэтных праектах open source, прапанаваў тэму даклада ці які-небудзь іншы ўклад у арганізацыю LVEE.  </p> 

<p> Апошні тэрмін падачы заяўкі - <strong>10 чэрвеня</strong>.  </p>


<p> Калі вы збіраецеся зрабіць даклад, не забудзьцеся ўзгадаць пра гэта падчас рэгістрацыі, пазнаёміцца з <a href="/participants/tezis">правіламі афармлення тэзісаў</a> і не пазней за <strong>20 чэрвеня</strong> выслаць тэзісы даклада на адрас <%= mail_to 'info@lvee.org'  %>. Дакладчыкі таксама могуць паглядзець <a href="program/materials">праграмы і тэзісы мінулых канферэнцый</a>.  </p>


<p> Арганізацыйны ўнёсак для аднаго ўдзельніка складае 50 000 <a href="http://be.wikipedia.org/wiki/Беларускі_рубель">BYR</a> ($25) на 4 дні (у суму ўключаныя выдаткі на жыццё і ежу). Магчымая таксама двухдзённая форма ўдзелу (субота і нядзеля), для якой арганізацыйны ўнёсак складае 30 000  <a href="http://be.wikipedia.org/wiki/Беларускі_рубель">BYR</a> ($15).  </p>

<p> Арганізацыйны ўнёсак выплачваецца падчас рэгістрацыі (пасля прыезду на канферэнцыю).  </p>

<p> Для дакладчыкаў канферэнцыі ўдзел бясплатны.  </p>

<p> Для даведкі: кошт жыцця - каля $15 за суткі. Кошт праезду ад Мінска - $15 у адзін бок.  </p>
