<h2> Информация об участии </h2>

<p> На LVEE приглашаются прежде всего участники проектов по разработке и распространению свободного ПО, а также все, кто разделяет философию информационной свободы.  </p>

<p> Для регистрации в качестве участника необходимо заполнить <a href="/ru/users/new">регистрационную форму</a>.</p>

<p> Основной целью нашей встречи является знакомство и обмен идеями между активистами свободных программ. Поэтому при недостатке мест приоритет отдается активным участникам сообщества - тем кто не поленился упомянуть при заполнении регистрационной формы о своем участии в конкретных проектах open source, предложил тему доклада или какой-либо другой вклад в организацию LVEE.  </p> 

<p> Последний срок подачи заявки - <strong>20 июня</strong>.  </p>


<p> Если вы собираетесь сделать доклад, не забудьте упомянуть об этом при регистрации, ознакомиться с <a href="/ru/participants/tezis">правилами оформления тезисов</a> и не позднее <strong>20 июня</strong> прислать тезисы доклада на адрес <%= mail_to 'info@lvee.org'  %>. Для ознакомления докладчикам доступны также <a href="program/materials">программы и тезисы прошлых конференций</a>.  </p>


<p> Оргвзнос для одного участника составляет 60 000 <a href="http://ru.wikipedia.org/wiki/Белорусский_рубль">BYR</a> (~ $28) на 4 дня (в сумму включены расходы на проживание и питание). Возможна также сокращенная двухдневная форма участия (суббота и воскресенье), оргвзнос для которой равняется 40 000  <a href="http://ru.wikipedia.org/wiki/Белорусский_рубль">BYR</a> (~ $18).  </p>

<p> Оргвзнос уплачивается при регистрации (по прибытии на конференцию).  </p>

<p> Для докладчиков конференции участие бесплатное.  </p>

<p> Справочная информация: себестоимость проживания - около $15 в сутки. Себестоимость проезда от Минска - $15 в одну сторону.  </p>
