<h2> Інформація про участь </h2>

<p> На LVEE запрошуються перш за все учасники проектів по розробці і поширенню вільного програмного забезпечення, а також всі, хто поділяє філософію інформаційної свободи.  </p>

<p> Для реєстрації у якості учасника необхідно заповнити <a href="/ua/users/new">реєстраційну форму</a>.</p>

<p> Основною метою нашої зустрічі є знайомство і обмін ідеями між активістами вільних програм. Тому при нестачі місць пріоритет віддаватиметься активним учасникам співтовариства - тим хто не полінувався згадати при заповненні реєстраційної форми про свою участь в конкретних проектах open source, запропонував тему доповіді або який-небудь інший внесок в організацію LVEE.  </p> 

<p> Останній термін подачі заявки - <strong>20 червня</strong>.  </p>


<p> Якщо ви збираєтеся зробити доповідь, не забудьте згадати про це при реєстрації, ознайомитися з <a href="/ua/participants/tezis">правилами оформлення тез</a> і не пізніше <Strong>20 червня</strong> надіслати тези доповіді за адресою <a href="mailto:info@lvee.org">info@lvee.org</a>. Для ознайомлення доповідачам доступні також <a href="program/materials">програми і тези минулих конференцій</a>.  </p>


<p> Оргвнесок для одного учасника складає 60 000 <a href="http://ru.wikipedia.org/wiki/Белорусский_рубль">BYR</a> (~ $28) на 4 дні (в суму входять витрати на проживання та харчування). Можлива також скорочена дводенна форма участі (субота і неділя), оргвнесок для якої складає 40 000  <a href="http://ru.wikipedia.org/wiki/Белорусский_рубль">BYR</a> (~ $18).  </p>

<p> Оргвнесок сплачується при реєстрації (після прибуття на конференцію).  </p>

<p> Для доповідачів конференції участь безкоштовна.  </p>

<p> Інформація для довідки: вартість проживання - близько $15 в добу. Вартість проїзду від Мінська - $15 в один бік.  </p>

