<h2> Информация об участии </h2>

<p> На LVEE приглашаются прежде всего участники проектов по разработке и распространению свободного ПО, а также все, кто разделяет философию информационной свободы.  </p>

<p> Для регистрации в качестве участника необходимо заполнить <a href="/user/new">регистрационную форму</a>.</p>

<p> Основной целью нашей встречи является знакомство и обмен идеями между активистами свободных программ. Поэтому при недостатке мест приоритет отдается активным участникам сообщества - тем кто не поленился упомянуть при заполнении регистрационной формы о своем участии в конкретных проектах open source, предложил тему доклада или какой-либо другой вклад в организацию LVEE.  </p> 

<p> Последний срок подачи заявки - 10 июня.  </p>


<p> Если вы собираетесь сделать доклад, не забудьте ознакомиться с правилами оформления тезисов http://lvee.org/test/programme-rule.html и своевременно (до 23 июня) прислать тезисы доклада. Для ознакомления докладчикам доступны также программы и тезисы прошлых конференций http://lvee.org/test/programme-library.html.  </p>


<p> Оргвзнос для одного участника составляет 50 000 BYR http://ru.wikipedia.org/wiki/Белорусский_рубль ($25) на 4 дня (в сумму включены расходы на проживание и питание). Возможна также сокращенная двухдневная форма участия (суббота и воскресенье), оргвзнос для которой равняется 30 000 BYR http://ru.wikipedia.org/wiki/Белорусский_рубль ($15).  </p>

<p> Оргвзнос уплачивается при регистрации (по прибытии на конференцию).  </p>

<p> Для докладчиков конференции участие бесплатное.  </p>

<p> Справочная информация: себестоимость проживания - около $15 в сутки. Себестоимость проезда от Минска - $15 в одну сторону.  </p>
