<h2> Information on Participating</h2>

<p> We heartily invite participants of projects, related to development and spread of free software, as well as everyone who shares philosophy of information freedom. </p>

<p> To be registered as a participant please fill this <a href="/users/new">form</a>.</p>

<p> The main goal of our meeting is to get acquaintance with each other and exchange ideas among free software activists. Therefore at shortage of free places we give priority to active community participants – those who were not too careless when filling a registration form and mentioned their participation in particular open source projects, proposed some report or any other contribution into LVEE organization. </p> 

<p> Registration deadline is <strong>June 10</strong>.  </p>


<p> If you are planning to make a report on the conference, please don't forget to mention it when filling a registration form; also please read the <a href="/participants/tezis"> abstract submission guidelines </a> and send abstracts to <%= mail_to 'info@lvee.org'  %> before <strong>June 20</strong>. Potential speakers of the conference are also encouraged to get acquaintance with <a href="program/materials">programs and abstracts of the previous conferences</a>.  </p>


<p> Organization fee is $25 (50.000 <a href="http://ru.wikipedia.org/wiki/Белорусский_рубль">BYR</a> per person for four days (expenses for accommodation and meal are included into this sum). A reduced two-day form (weekend) of participation is also possible and organization fee is $15 (30.000 <a href="http://ru.wikipedia.org/wiki/Белорусский_рубль">BYR</a> per person. </p>

<p> Organization fee should be paid at registration.  </p>

<p> Conference speakers are free from paying it. </p>

<p> Reference information: the cost of accommodation roughly equals to $15 per day. Travel costs are $15 from Minsk in one way.  </p>
