<h1>Правила оформления тезисов </h1>
      

<p>Для участия в конференции в качестве докладчика необходимо прислать не позднее 23 июня тезисы доклада на адрес <a href="mailto:info@lvee.org">info@lvee.org</a> </p>
<p>Тезисы предоставляются на английском, белорусском, польском или русском языках.</p>
<p>Объем тезисов – от одной до трех страниц формата А5 (приблизительно до шести тысяч символов, не учитывая пробелы). </p>

<ul>
    <li> В первой строке указывается название доклада прописными буквами  </li>
    <li> Во второй строке - фамилия и инициалы авторов доклада строчными буквами </li>
    <li> Далее - полное название организации и электронный адрес для связи с авторами </li>
    <li>Далее через пустую строку следует аннотация. Рекомендуемый объем аннотации - до пятисот символов  </li>
    <li> Далее через пустую строку - текст тезисов  </li>
</ul>

<p>Рисунки, если они есть, предоставляются в отдельных файлах. В тексте ссылка на них приводится отдельной строкой в виде имени файла в квадратных скобках. Рисунки снабжаются подрисуночными подписями: </p>
<p>[figure1.jpg]  </p>
<p> Рис. 1. Диаграмма загрузки сети</p>

<p>Список литературы (если есть) приводится в конце тезисов. Для электронных источников приводится название ресурса (или отдельной публикации на нем) и URL веб-страницы. </p>
<p>Текст тезисов должен быть в формате plain text. Рисунки должны быть в отдельных файлах в формате eps (наиболее предпочтительно), svg, jpg или tiff. Приветствуется присоединение авторами к тексту тезисов дополнительных материалов, касающихся темы доклада (слайды, видеоролики, тексты программ и т.д.). </p>
 


