<h1>Abstracts Guidelines</h1>
      

<p>To participate as a conference speaker one should send abstracts of his/her report to <a href="mailto:info@lvee.org">info@lvee.org</a> before June 20.</p>
<p>Abstracts should be written in the English, Belarusian, Polish, or Russian language. </p>
<p>A size of abstracts may vary from one to three pages of A5 format (approximately up to 6000 characters without spaces). </p>

<ul>
    <li> Title should be placed in the first line, written in capital letters </li>
    <li> The second line is for family names and initials of authors </li>
    <li> The third line should contain the organization name and authors' e-mail </li>
    <li> Next after an empty line an annotation should be placed. Its recommended volume is up to 500 characters </li>
    <li> After that and one more empty line there is the place for abstracts body </li>
</ul>

<p>Figures, if any, are presented in separate files. Figures should be referenced in text in a separate line in the form of a file name in square brackets. Figures should have captions: </p>
<p>[figure1.jpg]  /<p>
<p> Fig. 1. Network load diagram </p>

<p>List of references (if there is any) should be placed at the end of abstracts. For electronic sources the name of a web-resource (or a separate publication in it) should be mentioned as well as URL of the page.  </p>
<p>Abstracts should be in plain text format. Figures are to be placed in separate files in eps (preferable), svg, jpg or tiff formats. Additional materials on the report topic, attached to the abstract (slides, video, programs listings, etc.) are highly greeted. </p>
 


