<h1>Правілы афармлення тэзісаў </h1>
      

<p>Каб удзельнічаць у канферэнцыі дакладчыкам, трэба прыслаць не пазней за 23 чэрвеня тэзісы даклада на адрас <a href="mailto:info@lvee.org">info@lvee.org</a> </p>
<p>Тэзісы падаюцца па-англійску, па-беларуску, па-польску ці па-руску.</p>
<p>Аб'ём тэзісаў – ад адной да трох старонак фармату А5 (прыкладна да шасці тысяч знакаў, без прабелаў). </p>

<ul>
    <li> У першым радку пазначаецца назва даклада вялікімі літарамі  </li>
    <li> У другім радку - прозвішча і ініцыялы аўтараў даклада малымі літарамі </li>
    <li> Потым - поўная назва арганізацыі і электронны адрас для сувязі з аўтарамі </li>
    <li> Потым, прапусціўшы пусты радок, ідзе анатацыя. Рэкамендаваны аб'ём анатацыі - да пяцісот знакаў  </li>
    <li> Потым, прапусціўшы пусты радок, - тэкст тэзісаў  </li>
</ul>

<p>Малюнкі, калі ёсць, падаюцца ў асобных файлах. У тэксце спасылка на іх пазначаецца ў асобным радку ў выглядзе назвы файла ў квадратных дужках. Малюнкі павінны мець падвальныя подпісы: </p>
<p>[figure1.jpg]  </p>
<p> Мал. 1. Дыяграма загрузкі сеткі</p>

<p>Спіс літаратуры (калі ёсць) падаецца ў канцы тэзісаў. Для электронных крыніц пазначаецца назва рэсурсу (ці асобнай публікацыі на ім) і URL вэб-старонкі. </p>
<p>Тэкст тэзісаў павінен быць у файрмаце plain text. Малюнкі павінны быць у асобных файлах у фармаце eps (найлепей), svg, jpg или tiff. Добра, калі аўтары далучаюць датычныя дадатковыя матэрыялы да тэксту (слайды, відэакліпы, тэксты праграм і г.д.) </p>
 


