<h1>Правила оформлення тез </h1>
      

<p>Для участі в конференції у якості доповідача необхідно надіслати не пізніше 23 червня тези доповіді на адресу <a href="mailto:info@lvee.org">info@lvee.org</a> </p>
<p>Тези подаються на англійській, білоруській, польській або російській мовах.</p>
<p>Об’єм тез – від однієї до трьох сторінок формату А5 (приблизні до шести тисяч символів, без урахування пропусків). </p>

<ul>
    <li> В першому рядку вказується назва доповіді прописними літерами  </li>
    <li> В другому рядку - прізвище та ініціали авторів доповіді рядковими літерами </li>
    <li> Далі - повна назва організації і електронна адреса для зв'язку з авторами </li>
    <li> Далі через порожній рядок слідує анотація. Рекомендований об'єм анотації - до п'ятисот символів  </li>
    <li> Далі через порожній рядок - текст тез  </li>
</ul>

<p> Рисунки, якщо вони є, надаються в окремих файлах. В тексті посилання на них приводиться окремим рядком у вигляді імені файлу в квадратних дужках. Рисунки супроводжуються підписами: </p>
<p>[figure1.jpg]  </p>
<p> Рис.1. Діаграма завантаження мережі</p>

<p> Список літератури (якщо є) приводиться в кінці тез. Для електронних джерел надається назва ресурсу (або окремої публікації на ньому) і URL веб-сторінки. </p>
<p> Текст тез повинен бути у форматі plain text. Рисунки повинні бути в окремих файлах у форматі eps (більш бажано), svg, jpg або tiff. Вітається приєднання авторами до тексту тез додаткових матеріалів, що стосуються теми доповіді (слайди, відеоролики, тексти програм і т.п.). </p>
 



