<h2>Admin actions</h2>
<ul>
  <li><%= link_to "Users admin", admin_users_path %>
  <li><%= link_to "Conference editor", admin_conferences_path %>
  <li><%= link_to "Statuses editor", admin_statuses_path %>
  <li><%= link_to "Conference Registration admin", admin_conference_registrations_path %>
</ul>
