<h2>Editor actions</h2>
<ul>
  <li><%= link_to "Languages editor", editor_languages_path %>
  <li><%= link_to "News editor", news_path %>
  <li><%= link_to "Image uploader", editor_image_uploads_path %>
  <li><%= link_to "Articles editor", articles_path %>
</ul>
