<p>
  <b>Name</b><br />
  <%= f.text_field :name %>
</p>

<p>
  <b>Start date</b><br />
  <%= f.calendar_date_select :start_date %>
</p>

<p>
  <b>Finish date</b><br />
  <%= f.calendar_date_select :finish_date %>
</p>

<p>
  <b>Registration opened?</b><br />
  <%= f.check_box :registration_opened %>
</p>
