
<% form_tag session_path do -%>
<p><label for="login">Имя пользователя</label><br/>
<%= text_field_tag 'login' %></p>

<p><label for="password">Пароль</label><br/>
<%= password_field_tag 'password' %></p>

<p><label for="remember_me">Запомнить меня:</label>
<%= check_box_tag 'remember_me' %></p>

<p><%= submit_tag 'Войти' %></p>
<% end -%>
