<h1><%= t "label.news.title"%></h1>
<table>
  <% news = News.published.for_locale(I18n.locale, :limit => 4)%>
  <% news.each do |n| -%>
  <tr>
    <th><%= l(n.published_at.to_date, :format => :default)%></th>
    <td><%= n.title %></td>
  </tr>
  <% end %>
</table>
<p class="gipLink"><%= link_to t('label.news.all_news'), :controller => '/news', :action => 'index'%></p>
