<h1><%= t "label.news.title"%></h1>
<table>
  <tr>
    <th>09.06.2008</th>
    <td>Срок регистрации участников продлён до <strong> 20.06.2008 г. </strong> </td>
  </tr>
  <tr>
    <th>06.06.2008</th>
    <td>Из-за несвоевременного предоставления турбазой информации об изменившихся расценках мы вынуждены изменить сумму оргвзноса с 50 до 60 тыс. Оргкомитет приносит извинения всем зарегистрировавшимся ранее участникам.</td>
  </tr>
  <tr>
    <th>21.05.2008</th>
    <td>На lvee.org введена многоязычная инфраструктура. Сегодня мы работаем в режиме тестирования, поэтому сохраняйте спокойствие в случае неполадок</td>
  </tr>
  <tr>
    <th>12.05.2008</th>
    <td>Запущена новая версия сайта конференции</td>
  </tr>
</table>
<p class="gipLink"><%= link_to t('label.news.all_news'), :controller => '/news', :action => 'index'%></p>
