<h3><%= t "label.news.last_news"%></h3>
<ul>
  <% news = News.published.translated(I18n.locale, :limit => 4)%>
  <% news.each do |n| -%>
  <li>
    <%= link_to(n.title, news_item_path(:id =>n.id)) %>
  </li>
  <% end %>
</ul>
<p class="gipLink"><%= link_to t('label.news.all_news'), :controller => '/news', :action => 'index'%></p>
