<div id="preview">
  <h1 id="preview_title"><%= t('label.common.preview')%></h1>
  <div id="preview_body">

    <h1><%=h @news.title %></h1>
    <p class="abstract"><%= textilize_without_paragraph(@news.lead) %></p>

    <div class="text">
      <%=textilize(@news.body) %>
    </div>
  </div>
</div>
