<h1>Our Sponsors</h1>
<p>The LVEE organisation board invites all interested companies to become 2008 year sponsors.
</p>
<p>For today, Sam Solutions, OptiGlobal, Promwad, and BLRSoft companies have claimed their desire to support the conference. </p>
<p>If you wish to support LVEE – please get in touch with us at <%= mail_to 'info@lvee.org'  %> </p>
