<h1> Наші спонсори </h1>
<p> Оргкомітет LVEE запрошує зацікавлені компанії виступити спонсорами конференції 2008 року. 
</p>
<p>На даний момент сприяти конференції висловили бажання компанії Sam Solutions, OptiGlobal, Promwad, BLRSoft. </p>
<p>Якщо Ви хочете підтримати LVEE - Ви можете зв'язатися з нами за адресою <a href="mailto:info@lvee.org">info@lvee.org</a>. </p>

