<h1> Наші спонсори </h1>
<p> Оргкомітет LVEE запрошує зацікавлені компанії виступити спонсорами конференції 2008 року. 
</p>
<p>На даний момент сприяти конференції висловили бажання компанії <a href="http://www.sam-solutions.net/">SaM Solutions</a>, <a href="http://www.epam.com/">EPAM Systems</a>, <a href="http://www.alatys.com/">Alatys</a>, <a href="http://www.promwad.com/">Promwad</a>,  <a href="http://www.abaxia.com/">BLRSoft</a> и <a href="http://www.onliner.by/">Onliner</a>. </p>
<p>Якщо Ви хочете підтримати LVEE - Ви можете зв'язатися з нами за адресою <a href="mailto:info@lvee.org">info@lvee.org</a>. </p>

