<h1>Our Sponsors</h1>
<p>The LVEE organisation board invites all interested companies to become 2008 year sponsors.
</p>
<p>For today, <a href="http://www.sam-solutions.net/">SaM Solutions</a>, <a href="http://www.epam.com/">EPAM Systems</a>, <a href="http://www.alatys.com/">Alatys</a>, <a href="http://www.promwad.com/">Promwad</a>,  <a href="http://www.abaxia.com/">BLRSoft</a> and <a href="http://www.onliner.by/">Onliner</a> companies have claimed their desire to support the conference. </p>
<p>If you wish to support LVEE – please get in touch with us at <%= mail_to 'info@lvee.org'  %> </p>
