<h1>Нашы спонсары</h1>
<p>Арганізацыйны камітэт LVEE запрашае зацікаўленыя кампаніі стаць спонсарамі канферэнцыі 2008 года. 
</p>
<p>На сёння выказалі жаданне дапамагчы канферэнцыі кампаніі Sam Solutions, OptiGlobal, Onliner. </p>
<p>Калі вы хочаце падтрымаць LVEE, можаце скантактавацца з намі праз адрас <%= mail_to 'info@lvee.org'  %>. </p>
