<h1>Наши спонсоры</h1>
<p>Оргкомитет LVEE приглашает заинтересованные компании выступить в качестве спонсоров конференции 2008 года. 
</p>
<p>На данный момент оказать содействие конференции выразили желание компании <a href="http://www.sam-solutions.net/">SaM Solutions</a>, <a href="http://www.epam.com/">EPAM Systems</a>, <a href="http://www.alatys.com/">Alatys</a>, <a href="http://www.promwad.com/">Promwad</a>,  <a href="http://www.abaxia.com/">BLRSoft</a> и <a href="http://www.onliner.by/">Onliner</a>. </p>
<p>Если вы хотите поддержать LVEE - вы можете связаться с нами по адресу <%= mail_to 'info@lvee.org'  %>. </p>
