<h1>Наши спонсоры</h1>
<p>Оргкомитет LVEE приглашает заинтересованные компании выступить в качестве спонсоров конференции 2008 года. 
</p>
<p>На данный момент оказать содействие конференции выразили желание компании Sam Solutions, OptiGlobal, Promwad, BLRSoft. </p>
<p>Если вы хотите поддержать LVEE - вы можете связаться с нами по адресу <%= mail_to 'info@lvee.org'  %>. </p>
