<p class="controls">
  <%= link_to t('label.common.view_changes'),
      diff_wiki_page_path(:id =>  wiki_page.name, :lang => params[:lang]) %> |
  <%= link_to t('label.common.edit'), edit_wiki_page_path(:id => wiki_page.name, :lang => params[:lang]) %> |

  <%= link_to t('label.common.delete'), wiki_page_path(:id => wiki_page.name, :lang => params[:lang]),  :method => :delete, :confirm =>t("message.common.sure") %>
</p>
