%p
  = f.label :name, t('label.wiki_page.name')
  %br/
  = f.text_field :name, :size => 62
%p
  = f.label :body, t('label.wiki_page.body')
  %br/
  = f.text_area :body, :cols => 80, :rows => 20, :class => :textile_form

%p Please use <a href="//txstyle.org/">Textile</a> format
