 	<div class="simple-text">
    	<h2>Офіційна контактна інформація конференції LVEE</h2>
        <ul>
        	<li><strong>E-mail:</strong> <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;'>&#105;&#110;&#102;&#111;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</a>
</li>
	    	<li><strong> Розсилка:</strong> <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#105;&#108;&#108;&#105;&#115;&#116;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;'>&#109;&#97;&#105;&#108;&#108;&#105;&#115;&#116;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</a>
</li>

        </ul>


<h2 style="padding-top: 50px;">Склад оргкомітету</h2> 

<div class="orgcom">



	<div>
                <img src="/images/foto/sunny.jpg"  />
	<ul>
	<li><span>Олександр Варахоб</span></li>
	<li><strong>E-mail:</strong> a.varakhob&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Моб.тел.:</strong> +375-29-4026078</li>
	<li><strong>Відповідальний: </strong>символіка, атрибутика</li>
	</ul>
	</div>


	<div>
	        <img src="/images/foto/faceoff__.gif"  />
	<ul>
	<li><span>Андрій Кириленко</span></li>
	<li><strong>E-mail:</strong> a.kirilenko&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Моб.тел.:</strong> +375-29-7869068</li>
	<li><strong>Відповідальний: </strong> проживання, харчування, оргпитання на місці </li>
	</ul>
	</div>

	<div>
	<img src="/images/foto/antono.png" alt="Antono Vasiljev"  />
	<ul>
	<li><span>Антон Васильєв</span></li>
	<li><strong>E-mail:</strong> antono.vasiljev&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
	<li><strong>Jabber:</strong> antono.vasiljev&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
	<li><strong>Моб.тел.:</strong> +375-29-1923811</li>
	<li><strong>Відповідальний: </strong> сайт, реєстрація </li>
        </ul>
      </div>
	<div>
	<img src="/images/foto/anton.jpg"  />
	<ul>
	<li><span>Антон Романенко</span></li>
	<li><strong>E-mail:</strong> a.romanenko&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Skype:</strong> holodance</li>
	<li><strong>Моб.тел.:</strong> +375-29-6350775</li>
	<li><strong>Відповідальний: </strong>сайт (дизайн, набір, наповнення) </li>
</ul>
</div>
	<div>
	<img src="/images/foto/faceoff__.gif"  />
	<ul>
	<li><span>Віктор Сергейчик</span></li>
	<li><strong>E-mail:</strong> v.siarheichyk&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Jabber:</strong> viksia&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
	<li><strong>Відповідальний: </strong> обробка заявок, розподіл розселення і транспорту </li>
</ul>
</div>

	<div>
        <img src="/images/foto/grub.png"  />
	<ul>
	<li><span>Гліб Рубанов</span></li>
	<li><strong>E-mail:</strong> g.rubanau&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Моб.тел.:</strong> +375-29-6613423</li>
	<li><strong>Відповідальний: </strong> взаємодія із ЗМІ</li>
</ul>
</div>

<div>
    <img src="/images/foto/faceoff__.gif"  />
    <ul>
        <li><span>Дмитро Костюк</span></li>
        <li><strong>E-mail:</strong> d.kostiuk&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
        <li><strong>Jabber:</strong> dmitriykostiuk&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
        <li><strong>Моб.тел.:</strong> +375-29-6366293</li>
        <li><strong>Відповідальний: </strong> конференція, відбір доповідей, інформаційне наповнення сайта</li></ul></div>


        <div>
	   <img src="/images/foto/ugenka.jpg"  />
	<ul>
	<li><span>Євген Кожуховський</span></li>
	<li><strong>E-mail:</strong> e.kozhuhovskiy&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Відповідальний: </strong>Wiki, реєстрація, технічне забезпечення конференції </li>
	</ul>
	</div>

      	<div>
	<img src="/images/foto/faceoff__.gif"  />
	<ul>
	<li><span>Марина Агибалова</span></li>
	<li><strong>E-mail:</strong> m.agibalova&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Відповідальна: </strong> переклад і редагування сайта</li>
        </ul>
      </div>


	<div>
	<img src="/images/foto/faceoff__.gif"  />
	<ul>
	<li><span>Павло Чеботарев</span></li>
	<li><strong>E-mail:</strong> p.chebotarev&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Jabber:</strong> che.pasha&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
	<li><strong>Skype:</strong> che.pasha</li>
	<li><strong>Моб.тел.:</strong> +375-29-3179210</li>
	<li><strong>Відповідальний: </strong> питання фінансування, спілкування із спонсорами, транспорт, шашлики </li>
        </ul>
      </div>

	<div>
	</div>
<h2 style="padding-top: 50px;"> Червоний куточок </h2> 

	<div>
                <img src="/images/foto/borodaenko.jpg"  />
	<ul>
	<li><span>Дмитро Бородаєнко</span></li>
	<li><strong>E-mail:</strong> d.borodaenko&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Відповідальний: </strong> координація LVEE 2005 і LVEE 2006</li>
	</ul>
	</div>
	<div>
                <img src="/images/foto/mend0za-official.jpg"  />
	<ul>
	<li><span>Влад Шахов</span></li>
	<li><strong>E-mail:</strong> v.shakhov&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
	<li><strong>Відповідальний: </strong> крайній за LVEE 2007</li>
	</ul>
	</div>

	<div>
Список відкритий для поповнення...
	</div>

   </div><!-- orgcom -->

   
   <div class="clear"></div>
</div>

