 	<div class="simple-text">
    	<h2>LVEE Official Contacts</h2>
        <ul>
        	<li><strong>E-mail:</strong> <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;'>&#105;&#110;&#102;&#111;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</a>
</li>
		    	<li><strong>Mail list:</strong> <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#105;&#108;&#108;&#105;&#115;&#116;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;'>&#109;&#97;&#105;&#108;&#108;&#105;&#115;&#116;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</a>
</li>

        </ul>


<h2 style="padding-top: 50px;">Organization Board</h2> 

<div class="orgcom">



	<div>
                <img src="/images/foto/sunny.jpg"  />
		<ul>
			<li><span>Aliaksandr Varakhob</span></li>
			<li><strong>E-mail:</strong> a.varakhob&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Cell phone:</strong> +375-29-4026078</li>
			<li><strong>In charge: </strong>fest emblem and attribution </li>
		</ul>
	</div>


	<div>
	        <img src="/images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Andrew Kirilenko</span></li>
			<li><strong>E-mail:</strong> a.kirilenko&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Cell phone:</strong> +375-29-7869068</li>
			<li><strong>In charge: </strong>accommodation, meals, other local stuff</li>
		</ul>
	</div>

	<div>
		<img src="/images/foto/antono.png" alt="Antono Vasiljev"  />
		<ul>
			<li><span>Antono Vasiliev</span></li>
			<li><strong>E-mail:</strong> antono.vasiljev&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
			<li><strong>Jabber:</strong> antono.vasiljev&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
			<li><strong>Cell phone:</strong> +375-29-1923811</li>
			<li><strong>In charge: </strong> web-site engine, registration</li>
        </ul>
      </div>
	<div>
		<img src="/images/foto/anton.jpg"  />
		<ul>
			<li><span>Anton Romanenko</span></li>
			<li><strong>E-mail:</strong> a.romanenko&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Skype:</strong> holodance</li>
			<li><strong>Cell phone:</strong> +375-29-6350775</li>
			<li><strong>In charge: </strong>web-site (design, layout) </li>
</ul>
</div>
	<div>
		<img src="/images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Viktar Siarheichyk</span></li>
			<li><strong>E-mail:</strong> v.siarheichyk&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Jabber:</strong> viksia&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
			<li><strong>In charge: </strong>registration request proceeding, accommodation and transportation plans  </li>
</ul>
</div>

	<div>
		<img src="/images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Hleb Rubanau </span></li>
			<li><strong>E-mail:</strong> g.rubanau&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Cell phone:</strong> +375-29-6613423</li>
			<li><strong>In charge: </strong>communication with mass-media</li>
</ul>
</div>

<div>
    <img src="/images/foto/faceoff__.gif"  />
    <ul>
        <li><span>Dmitriy Kostiuk </span></li>
        <li><strong>E-mail:</strong> d.kostiuk&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
        <li><strong>Jabber:</strong> dmitriykostiuk&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
        <li><strong>Cell phone:</strong> +375-29-6366293</li>
        <li><strong>In charge: </strong> conference, reports selection, content filling of the site</li></ul></div>


        <div>
	   <img src="/images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Eugen Kozhuhovski </span></li>
			<li><strong>E-mail:</strong> e.kozhuhovskiy&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>In charge: </strong>Wiki, registration, all hardware on the conference</li>
		</ul>
	</div>

      	<div>
		<img src="/images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Maryna Ahibalava</span></li>
			<li><strong>E-mail:</strong> m.agibalova&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>In charge: </strong>translation and editing of the site info </li>
        </ul>
      </div>


	<div>
		<img src="/images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Pavel Chebotarev </span></li>
			<li><strong>E-mail:</strong> p.chebotarev&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Jabber:</strong> che.pasha&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
			<li><strong>Skype:</strong> che.pasha</li>
			<li><strong>Cell phone:</strong> +375-29-3179210</li>
			<li><strong>In charge: </strong>financing, communication with sponsors, transportation and shashlik </li>
        </ul>
      </div>

	<div>
	</div>
<h2 style="padding-top: 50px;">Red Corner</h2> 

	<div>
                <img src="/images/foto/borodaenko.jpg"  />
		<ul>
			<li><span>Dmitriy Borodaenko</span></li>
			<li><strong>E-mail:</strong> d.borodaenko&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>In charge: </strong> LVEE 2005 & LVEE 2006 coordination</li>
		</ul>
	</div>
	<div>
                <img src="/images/foto/mend0za-official.jpg"  />
		<ul>
			<li><span>Vlad Shakhov</span></li>
			<li><strong>E-mail:</strong> v.shakhov&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>In charge: </strong>LVEE 2007 main caryatid</li>
		</ul>
	</div>

	<div>
The list is free to be continued...
	</div>

   </div><!-- orgcom -->

   
   <div class="clear"></div>
</div>
