 	<div class="simple-text">
    	<h2>Официальная контактная информация конференции LVEE</h2>
        <ul>
        	<li><strong>E-mail:</strong> <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;'>&#105;&#110;&#102;&#111;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</a>
</li>
		    	<li><strong>Рассылка:</strong> <a href='&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#109;&#97;&#105;&#108;&#108;&#105;&#115;&#116;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;'>&#109;&#97;&#105;&#108;&#108;&#105;&#115;&#116;&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</a>
</li>

        </ul>


<h2 style="padding-top: 50px;">Состав оргкомитета</h2> 

<div class="orgcom">



	<div>
                <img src="images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Александр Варахоб</span></li>
			<li><strong>E-mail:</strong> a.varakhob&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Моб.тел.:</strong> +375-29-4026078</li>
			<li><strong>Ответственный: </strong>символика, атрибутика</li>
		</ul>
	</div>


	<div>
	        <img src="images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Андрей Кириленко</span></li>
			<li><strong>E-mail:</strong> a.kirilenko&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Моб.тел.:</strong> +375-29-7869068</li>
			<li><strong>Ответственный: </strong>проживание, питание, оргвопросы на месте</li>
		</ul>
	</div>

	<div>
		<img src="images/foto/antono.png" alt="Antono Vasiljev"  />
		<ul>
			<li><span>Антон Васильев</span></li>
			<li><strong>E-mail:</strong> antono.vasiljev&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
			<li><strong>Jabber:</strong> antono.vasiljev&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
			<li><strong>Моб.тел.:</strong> +375-29-1923811</li>
			<li><strong>Ответственный: </strong> сайт, регистрация</li>
        </ul>
      </div>
	<div>
		<img src="images/foto/anton.jpg"  />
		<ul>
			<li><span>Антон Романенко</span></li>
			<li><strong>E-mail:</strong> a.romanenko&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Skype:</strong> holodance</li>
			<li><strong>Моб.тел.:</strong> +375-29-6350775</li>
			<li><strong>Ответственный: </strong>сайт (дизайн, верстка, наполнение)</li>
</ul>
</div>
	<div>
		<img src="images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Виктор Сергейчик</span></li>
			<li><strong>E-mail:</strong> v.siarheichyk&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Jabber:</strong> viksia&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
			<li><strong>Ответственный: </strong>обработка заявок, разбивка расселения и разбивка по транспорту</li>
</ul>
</div>

	<div>
		<img src="images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Глеб Рубанов</span></li>
			<li><strong>E-mail:</strong> g.rubanau&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Моб.тел.:</strong> +375-29-6613423</li>
			<li><strong>Ответственный: </strong>взаимодействие со СМИ во всех видах</li>
</ul>
</div>

<div>
    <img src="images/foto/faceoff__.gif"  />
    <ul>
        <li><span>Дмитрий Костюк</span></li>
        <li><strong>E-mail:</strong> d.kostiuk&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
        <li><strong>Jabber:</strong> dmitriykostiuk&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
        <li><strong>Моб.тел.:</strong> +375-29-6366293</li>
        <li><strong>Ответственный: </strong> конференция, отбор докладов, информационное наполнение сайта</li></ul></div>


        <div>
	   <img src="images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Евгений Кожуховский</span></li>
			<li><strong>E-mail:</strong> e.kozhuhovskiy&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Ответственный: </strong>Wiki, регистрация, техническое обеспечение конференции</li>
		</ul>
	</div>

      	<div>
		<img src="images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Марина Агибалова</span></li>
			<li><strong>E-mail:</strong> m.agibalova&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Ответственный: </strong>переводы и редактура сайта</li>
        </ul>
      </div>


	<div>
		<img src="images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Павел Чеботарёв</span></li>
			<li><strong>E-mail:</strong> p.chebotarev&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Jabber:</strong> che.pasha&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;</li>
			<li><strong>Skype:</strong> che.pasha</li>
			<li><strong>Моб.тел.:</strong> +375-29-3179210</li>
			<li><strong>Ответственный: </strong>вопросы финансирования, общение со спонсорами, транспорт, шашлыки</li>
        </ul>
      </div>

	<div>
	</div>
<h2 style="padding-top: 50px;">Красный уголок</h2> 

	<div>
                <img src="images/foto/borodaenko.jpg"  />
		<ul>
			<li><span>Дмитрий Бородаенко</span></li>
			<li><strong>E-mail:</strong> d.borodaenko&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Ответственный: </strong>координация LVEE 2005 и LVEE 2006</li>
		</ul>
	</div>
	<div>
                <img src="images/foto/faceoff__.gif"  />
		<ul>
			<li><span>Влад Шахов</span></li>
			<li><strong>E-mail:</strong> v.shakhov&#64;&#108;&#118;&#101;&#101;&#46;&#111;&#114;&#103;</li>
			<li><strong>Ответственный: </strong>координация LVEE 2007</li>
		</ul>
	</div>

	<div>
Список открыт для пополнения...
	</div>

   </div><!-- orgcom -->

   
   <div class="clear"></div>
</div>
