    	<h1>Контакты</h1>

     	<p>Вопросы, предложения и замечания можно направлять по адресу <a href="mailto:lvee@lvee.org.by">lvee@lvee.org.by</a> или в почтовую рассылку <a href="mailto:maillist@lvee.org">maillist@lvee.org</a> (<a href="http://lists.xdsl.by/pipermail/lvee/">архив</a>). Чтобы написать в список рассылки, для начала нужно зарегистрироваться на ее <a href="http://lists.xdsl.by/cgi-bin/mailman/listinfo/lvee">информационной странице</a>.</p>
<p>Иногда участников оргкомитета можно увидеть на канале <a href="http://bynets.org/modules/cgiirc/?channel=lvee">#lvee</a> в сети <a href="http://www.bynets.org/">bynets</a></p>

     

<h2 style="padding-top: 50px;">Состав оргкомитета</h2> 

<div class="orgcom">



	<div>
		<img src="images/foto/lvee-pic.gif"  />
		<ul>
			<li><span>Общие контакты lVEE</span></li>
			<li><strong>Почта:</strong> info@lvee.org</li>

			<li><strong>Сайт:</strong> lvee.org</li>
			<li><strong>Вики:</strong> lvee.org.by</li>
			<li><strong>Рассылка: </strong> maillist@lvee.org</li>
        </ul>

      </div>

  <div>
      <img src="images/foto/faceoff.gif"  />
      <ul>
        <li><span>Саша Варахоб</span></li>
        <li><strong>Почта:</strong> a.varakhob@lvee.org</li>
        <li><strong>Ответственный: </strong>символика, атрибутика</li>
      </ul>
  </div>

  <div>
    <img src="images/foto/faceoff.gif"  />
    <ul>
      <li><span>Антон Васильев</span></li>
      <li><strong>Почта:</strong> a.vasiljev@lvee.org</li>
      <li><strong>Ответственный: </strong> сайт </li>
    </ul>
  </div>
      
      
  <div>
    <img src="images/foto/faceoff.gif"  />
    <ul>
      <li><span>Антон Романенко</span></li>
      <li><strong>Почта:</strong> a.romanenko@lvee.org</li>
      <li><strong>Скайп:</strong> holodance</li>
      <li><strong>Телефон:</strong>+375-29-6350775</li>
      <li><strong>Ответственный: </strong>сайт (дизайн, верстка, наполнение)</li>
    </ul>
  </div>


	<div>
		<img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Витя Сергейчик</span></li>
			<li><strong>Почта:</strong> v.siarheichyk@lvee.org</li>

			<li><strong>Ответственный: </strong>обработка заявок, разбивка расселения и разбивка по транспорту, орг вопросы</li>
        </ul>
      </div>

	<div>
		<img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Глеб Рубанов</span></li>

			<li><strong>Почта:</strong> g.rubanau@lvee.org</li>
			<li><strong>Ответственный: </strong>взаимодействие со СМИ во всех видах, орг вопросы</li>
        </ul>
      </div>

	<div>
		<img src="images/foto/faceoff.gif"  />

		<ul>
			<li><span>Дмитрий Костюк</span></li>
			<li><strong>Почта:</strong> d.kostiuk@lvee.org</li>
            <li><strong>jabber:</strong> dmitriykostiuk@gmail.com</li>
			<li><strong>Телефон:</strong>+375-29-6366293</li>

			<li><strong>Ответственный: </strong>конференция, отбор докладов, информационное наполнение сайта, оргвопросы</li>
        </ul>
      </div>



	<div>
		<img src="images/foto/faceoff.gif"  />
		<ul>

			<li><span>Марина Агибалова</span></li>
			<li><strong>Почта:</strong> m.agibalova@lvee.org</li>
			<li><strong>Ответственный: </strong>переводы и редактура сайта</li>
        </ul>
      </div>

	<div>
		<img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Паша Чеботарёв</span></li>
			<li><strong>Почта:</strong> p.chebotarev@lvee.org</li>
			<li><strong>Ответственный: </strong>вопросы финансирования, общение со спонсорами, орг вопросы</li>

        </ul>
      </div>








	<div>

		<img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Сергей Довнар</span></li>
			<li><strong>Почта:</strong> s.dovnar@lvee.org</li>
			<li><strong>Ответственный: </strong>техническое обеспечение конференции</li>
        </ul>

      </div>






   </div><!-- orgcom -->
   
   <div class="clear"></div>

