 	<div class="simple-text">
    	<h2>Официальная контактная информация конференции LVEE</h2>
        <ul>
        	<li><strong>E-mail:</strong> <a href="mailto:lvee@lvee.org.by">lvee@lvee.org.by</a></li>
			<li><strong>Maillist:</strong> <a href="mailto:maillist@lvee.org">maillist@lvee.org</a></li>
			<li><strong>Ответственный: </strong>проживание, питание, оргвопросы на месте</li> 
        </ul>


<h2 style="padding-top: 50px;">Состав оргкомитета</h2> 

<div class="orgcom">



	<div>
                <img src="images/foto/lvee-pic.gif"  />
		<ul>
			<li><span>Александр Варахоб</span></li>
			<li><strong>E-mail:</strong> a.varakhob@lvee.org</li>
			<li><strong>Моб.тел.:</strong> +375-29-4026078</li>
			<li><strong>Ответственный: </strong>символика, атрибутика</li>
		</ul>
	</div>


	<div>
	        <img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Андрей Кириленко</span></li>
			<li><strong>E-mail:</strong> a.kirilenko@lvee.org</li>
			<li><strong>Моб.тел.:</strong> +375-29-7869068</li>
			<li><strong>Ответственный: </strong>проживание, питание, оргвопросы на месте</li>
		</ul>
	</div>

	<div>
		<img src="images/foto/antono.jpg"  />
		<ul>
			<li><span>Антон Васильев</span></li>
			<li><strong>E-mail:</strong> a.vasiljev@lvee.org</li>
			<li><strong>Jabber:</strong> antono.vasiljev@gmail.com</li>
			<li><strong>Моб.тел.:</strong> +375-29-1923811</li>
			<li><strong>Ответственный: </strong> сайт, регистрация</li>
        </ul>
      </div>
	<div>
		<img src="images/foto/anton.jpg"  />
		<ul>
			<li><span>Антон Романенко</span></li>
			<li><strong>E-mail:</strong> a.romanenko@lvee.org</li>
			<li><strong>Skype:</strong> holodance</li>
			<li><strong>Моб.тел.:</strong> +375-29-6350775</li>
			<li><strong>Ответственный: </strong>сайт (дизайн, верстка, наполнение)</li>
</ul>
</div>
	<div>
		<img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Виктор Сергейчик</span></li>
			<li><strong>E-mail:</strong> v.siarheichyk@lvee.org</li>
			<li><strong>Jabber:</strong> viksia@gmail.com</li>
			<li><strong>Моб.тел.:</strong> +375-29-3444323</li>
			<li><strong>Ответственный: </strong>обработка заявок, разбивка расселения и разбивка по транспорту, оргвопросы</li>
</ul>
</div>

	<div>
		<img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Глеб Рубанов</span></li>
			<li><strong>E-mail:</strong> g.rubanau@lvee.org</li>
			<li><strong>Моб.тел.:</strong> +375-29-6613423</li>
			<li><strong>Ответственный: </strong>взаимодействие со СМИ во всех видах, оргвопросы</li>
</ul>
</div>

<div>
    <img src="images/foto/faceoff.gif"  />
    <ul>
        <li><span>Дмитрий Костюк</span></li>
        <li><strong>E-mail:</strong> d.kostiuk@lvee.org</li>
        <li><strong>Jabber:</strong> dmitriykostiuk@gmail.com</li>
        <li><strong>Моб.тел.:</strong> +375-29-6366293</li>
        <li><strong>Ответственный: </strong> конференция, отбор докладов, информационное наполнение сайта, оргвопросы</li></ul></div>


        <div>
	   <img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Евгений Кожуховский</span></li>
			<li><strong>E-mail:</strong> e.kozhuhovskiy@lvee.org</li>
			<li><strong>Моб.тел.:</strong> +375-29-3998175</li>
			<li><strong>Ответственный: </strong>Wiki, регистрация</li>
		</ul>
	</div>

      	<div>
		<img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Марина Агибалова</span></li>
			<li><strong>E-mail:</strong> m.agibalova@lvee.org</li>
			<li><strong>Ответственный: </strong>переводы и редактура сайта</li>
        </ul>
      </div>


	<div>
		<img src="images/foto/faceoff.gif"  />
		<ul>
			<li><span>Павел Чеботарёв</span></li>
			<li><strong>E-mail:</strong> p.chebotarev@lvee.org</li>
			<li><strong>Jabber:</strong> che.pasha@gmail.com</li>
			<li><strong>Skype:</strong> che.pasha</li>
			<li><strong>Моб.тел.:</strong> +375-29-3179210</li>
			<li><strong>Ответственный: </strong>вопросы финансирования, общение со спонсорами, транспорт, шашлыки, оргвопросы</li>
        </ul>
      </div>


   </div><!-- orgcom -->
   
   <div class="clear"></div>

