<p>
  <b><%= t('label.conference_registration.quantity')%></b><br />
  <%= f.text_field :quantity %>
</p>

<p>
  <b><%=t('label.conference_registration.propositions')%></b><br />
  <%= f.text_area :proposition %>
</p>
