<h1>Conference registration to <%= @registration.conference.name%></h1>

<p>Participant quantity: <%= @registration.quantity %></p>
<p>Your proposition:</p>
<div id="proposition">
<%= textilize @registration.proposition %>
</div>
<p><%= link_to "Edit",
       edit_user_conference_registration_path(:user_id => params[:user_id], :id => @registration.id)%></p>
