<h1>История проведения LVEE</h1>

<h2>LVEE 2005 - первый раз</h2>

<p>
Под Гродно прошёл организованный Минской группой пользователей Linux и компанией SaM Solutions первый слет Linux Vacation/Eastern Europe ("Восточноевропейские Linux-каникулы"), собравший более 80 разработчиков, внедренцев и пользователей Linux из Беларуси, Польши, России и Украины, а также других свободных программ.

На проведенной в рамках LVEE двухдневной конференции был представлен довольно широкий спектр тем - от проблем внедрения и юридических аспектов свободного ПО до конкретных технических вопросов, таких как домашние центры развлечений, Linux-кластеры и терминальные сети, проектирование графических интерфейсов и т.п.
</p>

<h2> LVEE 2006 - невозможное сделано </h2>

<p>
Научно-практическая конференция задавала тон всему общению на слёте, наиболее интересные темы перекочёвывали из зала в кулуары и даже за шашлыками разговоры вертелись вокруг сетевых протоколов и систем пакетирования ПО.
</p>

<p>
Среди докладов, вызвавших наибольший интерес участников, следует отметить рассказ Евгения Кожуховского об устройстве системы тарификации доступа в интернет на МГТС, выступление Ильи Мартынова, делившегося опытом использования связки PHP5+SOAP в коммерческих проектах, и признанный участниками самым интересным доклад Виталия Хилько из SaM Solutions о создании автоматической системы для построения и поддержки узкопрофильных дистрибутивов Linux.
</p>

Оживлённые дискуссии вызвали также доклад о несвободной среде разработки Sun Studio 11 и продолжение прошлогоднего доклада разработчиков Mozilla о платформе быстрой разработки графических интерфейсов XUL, а вопрос продвижения свободного ПО среди пользователей, СМИ и коммерческих структур лёг в основу сразу двух круглых столов и ещё одного доклада.

<h2> LVEE 2007 - результаты </h2>

<p>
Как и в прежние годы, программа мероприятия включала международную научно-практическую конференцию, посвященную свободному программному обеспечению. Программа конференции включала два рабочих стола, касающихся open source в сфере образования и вопросов трудоустройства специалистов, работающих со свободным программным обеспечением.
</p>

Тематика докладов охватывала самые разные области, от юридических особенностей свободных лицензий до администрирования сложных корпоративных сетевых инфраструктур. Особое внимание также было уделено современным системам программирования и технологиям коллективной разработки.

<p>
Приз за наиболее интересный доклад аудитория присудила выступлению на тему Agile development (гибкая методология разработки ПО).
</p>

<p>
Материалы докладов публиковались на сайте, а к началу конференции был издан спецвыпуск журнала "Сетевые решения" с тезисами, статьями, интервью и некоторой дополнительной информацией о LVEE.
</p>
