<h1>LVEE History</h1>

<h2>LVEE 2005 - for the first time</h2>

<p>
The first meeting known as Linux Vacation/Eastern Europe, organized by Linux users group of Minsk and SaM Solutions company, took place in the environs of Grodno city. It gathered more than 80 developers, innovators and users of Linux and other free software from Belarus, Poland, Russia, and Ukraine. 
</p>

<p>
A two-day conference held in the LVEE meeting was on a wide spectrum of topics, varying from the problems of applying and legal issues of free software to concrete technical aspects, such as home media centers, Linux-clustering and terminal networks, graphical user interface design, and so on. 
</p>

<h2> LVEE 2006 - impossible done </h2>

<p>
The conference set the fashion of the whole communication on a meeting, while the most interesting topics were moved out of the conference-hall, and even the evening shashlik was accompanied with talks about network protocols and software development systems. 
</p>

<p>
If speaking about reports, gained the most interest from the audience, one should mention the speech about the Internet access tarification system of MGTS by Eugen Kozhuhovski, the report about using the PHP5+SOAP combination in commercial projects by Iliya Martynov, and the report on a developed automatic system for building and support of specialized Linux distributions by Vitali Hil'ko from SaM Solutions. The last one was stated by the audience as the best report of the year in the after-all voting. 
</p>

<p>
Lively conversations were also caused by speech on non-free Sun Studio 11 integrated development environment and continuation of the past-year report of the Mozilla team on XUL rapid application development platform for graphic interfaces, while the question of promoting free software to users, mass media and commercial structures formed two round tables and one report. 
</p>

<h2> LVEE 2007 - results </h2>

<p>
As it was in previous years, the program of the meeting included the international conference related to different topics concerning free software. The conference program included two round tables, one on the topic of open source in education, and the other one about job market of free software specialists. </p>

<p>
Reports covered very different areas – from legal peculiarities of free licenses to administrating complex corporative network infrastructures. Special attention was also paid to contemporary programming systems and collective development technologies. 
</p>

<p>
A prize for the most interesting report was presented by the audience to the seminar on Agile development by Daniel Nad' from Hungary.
</p>

<p>Proceedings were published on a web site, and also the special edition of the “Setevye Resheniya” (Network Solutions) magazine with abstracts, articles, interviews and some additional information regarding LVEE had been published by the beginning of the conference. 
</p>
