<h1>Гісторыя правядзення LVEE</h1>

<h2>LVEE 2005 - упершыню</h2>

<p>
Пад Гародняй адбыўся арганізаваны Мінскай групай карыстальнікаў Linux і кампаніяй SaM Solutions першы збор Linux Vacation/Eastern Europe ("Усходнееўрапейскія Linux-вакацыі"), дзе сабраліся больш як 80 распрацоўшчыкаў, інтэгратараў і карыстальнікаў Linux з Беларусі, Польшчы, Расіі і Украіны, а таксама іншых свабодных праграм.
</p>

<p>
На праведзенай у межах LVEE двухдзённай канферэнцыі былі прадстаўленыя тэмы досыць шырокага спектру - ад праблем інтэграцыі і юрыдычных аспектаў свабоднага ПЗ да канкрэтных тэхнічных пытанняў, напрыклад, пра хатнія забаўляльныя цэнтры, Linux-кластэры і тэрмінальныя сеткі, праектаванне графічных інтэрфейсаў і г.д.
</p>

<h2> LVEE 2006 - немагчымае зроблена </h2>

<p>
Навукова-практычная канферэнцыя кіравала настроем усіх узаемінаў на зборы, найцікавейшыя тэмы пераплывалі з залы ў кулуары, і нават пры шашлыках гамонка вялася вакол сеткавых пратаколаў і сістэм пакетавання ПЗ.
</p>

<p>
Сярод дакладаў, якія выклікалі найбольшую цікаўнасць удзельнікаў, варта адзначыць аповед Яўгена Кажухоўскага пра сістэму тарыфікацыі доступу ў інтэрнэт на МДТС, выступ Іллі Мартынава, які падзяліўся досведам выкарыстання звязкі PHP5+SOAP у камерцыйных праектах, а таксама даклад Віталя Хілько з SaM Solutions пра стварэнне аўтаматычнай сістэмы дзеля пабудовы і падтрымкі вузкапрофільных дыстрытуцый, які ўдзельнікі канферэнцыі прызналі найлепшым.
</p>

<p>
Жывыя дыскусіі таксама выклікалі даклад пра несвабоднае асяроддзе распрацоўкі Sun Studio 11 і працяг леташняга даклада распрацоўшчыкаў Mozilla пра платформу хуткай распрацоўкі графічных інтэрфейсаў XUL, а пытанне прасоўвання свабоднага ПЗ сярод карыстальнікаў, СМІ і камерцыйных структур легла ў аснову адразу двух круглых сталоў і яшчэ аднаго даклада.
</p>

<h2> LVEE 2007 - вынікі </h2>

<p>
Як і раней, праграма мерапрыемства ўключала міжнародную навукова-практычную канферэнцыю, прысвечаную свабоднаму праграмнаму забеспячэнню. Праграма канферэнцыі ўключала два круглыя сталы, якія датычыліся open source у адукацыйнай сферы і пытанняў уладкавання адмыслоўцаў, якія працуюць са свабодным праграмным забеспячэннем, на працу.
</p>

<p>
Тэматыка дакладаў датычылася вельмі розныя вобласці, ад юрыдычных асаблівасцей свабодных ліцэнзій да адміністравання складаных карпарацыйных сеткавых інфраструктур. Асаблівую ўвагу ўдзельнікі звярнулі на сучасныя сістэмы праграмавання і тэхналогіі калектыўнай распрацоўкі.
</p>

<p>
Узнагароду за найцікавейшы даклад аўдыторыя прысудзіла выступу на тэму Agile development (гнуткая метадалогія распрацоўкі ПЗ).
</p>

<p>
Матэрыялы дакладаў публікаваліся на сайце, а перад пачаткам канферэнцыі было выдрукавана спецыяльнае выданне часопіса "Сетевые решения" з тэзісамі, артыкуламі, інтэрв'ю і іншай дадатковай інфармацыяй пра LVEE.
</p>
