<h1>Історія проведення LVEE</h1>

<h2>LVEE 2005 - перший раз</h2>

<p>
Під Гродно пройшов організований Мінською групою користувачів Linux і компанією SaM Solutions перший зліт Linux Vacation/Eastern Europe ("Східноєвропейські Linux-канікули"), який зібрав більше 80 розробників і користувачів Linux, а також інших вільних програм, з Білорусі, Польщі, Росії та України.
</p>

<p>
На проведеній в рамках LVEE дводенної конференції був представлений досить широкий спектр тем - від проблем впровадження і юридичних аспектів вільного програмного забезпечення до конкретних технічних питань, таких як домашні центри розваг, Linux-кластери та термінальні мережі, проектування графічних інтерфейсів тощо.
</p>

<h2>LVEE 2006 - неможливе зроблено</h2>

<p>
Науково-практична конференція задавала загальний тон спілкування на зльоті, найцікавіші теми перекочовували із залу в кулуари і навіть за шашликами розмови велись навколо мережевих протоколів і систем пакетування програмного забезпечення.
</p>

<p>
Поміж доповідей, що викликали найбільший інтерес учасників, слід зазначити: розповідь Євгена Кожуховського про пристрій системи тарифікації доступу в Інтернет на МГТС; виступ Іллі Мартинова, який поділився досвідом використання PHP5+SOAP в комерційних проектах; визнану учасниками найцікавішою доповідь Віталія Хилько з SaM Solutions про створення автоматичної системи для побудови і підтримки вузькопрофільних дистрибутивів Linux.
</p>

<p>
Жваві дискусії викликали також доповідь про середовище розробки Sun Studio 11 і продовження торішньої доповіді розробників Mozilla про платформу швидкої розробки графічних інтерфейсів XUL, а питання просування вільного програмного забезпечення  серед користувачів ЗМІ і комерційних структур лягло в основу відразу двох круглих столів і ще однієї доповіді.
</p>

<h2>LVEE 2007 - результати </h2>

<p>
Як і в минулі роки, програма заходу включала міжнародну науково-практичну конференцію, присвячену вільному програмному забезпеченню. Програма конференції складалась з двох робочих столів, що стосувались open source у сфері освіти і питань працевлаштування фахівців, котрі працюють з вільним програмним забезпеченням.
</p>

<p>
Тематика доповідей охоплювала різнобічні питання, від юридичних тонкощів вільних ліцензій до адміністрування складних корпоративних мережевих інфраструктур. Особлива увага також була приділена сучасним системам програмування і технологіям колективної розробки.
</p>

<p>
Приз за найцікавішу доповідь аудиторія присудила виступу на тему Agile development (гнучка методологія розробки програмного забезпечення).
</p>

<p>
Матеріали доповідей публікувались на сайті, а до початку конференції був виданий спецвипуск журналу "Мережеві рішення" з тезами, статтями, інтерв'ю і деякою додатковою інформацією про LVEE.
</p>
