<h1>Пра канферэнцыю</h1>
<p>Міжнародны збор і канферэнцыя «Linux Vacation / Eastern Europe» праводзіцца ў Беларусі ўжо чацвёрты год, аб'ядноўваючы нефармальныя зносіны і актыўны адпачынак энтузіястаў у сферы свабоднага праграмнага забеспячэння і, у тым ліку, Linux. У гэтым годзе мерапрыемства адбудзецца 26-29 чэрвеня 2008 г. у аколіцах Гародні. </p>
<p>Арганізатарамі LVEE з'яўляюцца <a href="http://mlug.linux.by/cgi-bin/index.cgi">Minsk Linux Users Group</a>, а таксама актывісты з Гародні і Брэста.</p>
<p>Спіс спонсараў канферэнцыі ўключае кампаніі <a href="http://www.sam-solutions.by/">SaM Solutions</a>, <a href="http://www.alatys.com/">Alatys</a>, <a href="http://www.promwad.com/">Promwad</a>,  <a href="http://www.epam.com/">Epam</a> i <a href="http://www.abaxia.com/">BLRSoft</a>. </p>

<p>Галоўнай часткай LVEE з'яўляецца <strong>Міжнародная канферэнцыя распрацоўшчыкаў і карыстальнікаў свабоднага праграмнага забеспячэння</strong>. Фармат канферэнцыі ўключае даклады, workshop-ы і круглыя сталы. У дапамогу дакладчыкам - канферэнц-зала, праектар, гук. Для пачатку канферэнцыі плануецца выданне зборніка тэзісаў. </p>
<p>Заяўкі на ўдзел прымаюцца да <strong>10 чэрвеня</strong>. </p>
<p>Аўтары дакладаў вызваляюцца ад рэгістрацыйнага ўнёску. Таксама арганізацыйны камітэт абвясціў узнагароду за найлепшы даклад. </p>
<p>Аўтарам прапануем пазнаёміцца з парадкам афармлення і падачы тэзісаў, праглядзець матэрыялы LVEE 2006 і LVEE 2007. Атрымаць гэтыя звесткі, а таксама падрабязней даведацца пра парадак падачы заявак можна ў раздзеле <a href="participants">для ўдзельнікаў</a>. </p>
