<h1>About the Conference</h1>
<p>A regular international meeting and a conference named «Linux Vacation / Eastern Europe» is carried out for the fourth year in Belarus, combining both communication and active rest of the enthusiasts of free software in common and Linux in particular. This year the event will take place on June 26-29 near Grodno city. </p>
<p>LVEE 2008 is organized by <a href="http://mlug.linux.by/cgi-bin/index.cgi">Minsk Linux Users Group</a> with support of Grodno and Brest activists. </p>
<p>The list of this year’s conference sponsors is still to be defined. By today <a href="http://www.sam-solutions.by/">SaM Solutions</a> company has confirmed its participation. </p>

<p>The <strong>International conference of developers and users of free / open source software</strong> is the central part of LVEE. Its format includes reports, workshops, and round tables. Speakers will be provided with a conference hall, a projector and sound. An abstracts digest of the conference will be published. </p>
<p>Abstracts submission deadline is <strong>June 10</strong>. </p>
<p>Authors of reports are free from paying the organization fee. Organization board has also established a prize for the best report. </p>
<p>Authors are encouraged to get acquaintance with details of abstracts design and submission and to look through the LVEE 2006 and LVEE 2007 proceedings. See the <a href="participants">participants</a> section to find this information and to learn more about filling a participation request form. </p>
