<h1>О конференции</h1>
<p>26-29 июня 2008 пройдёт очередной международный слёт и конференция «Linux Vacation / Eastern Europe» (LVEE 2008). Мероприятие объединяет общение и активный отдых энтузиастов в области свободного программного обеспечения и Linux в частности. </p>
<p>Организатором LVEE 2008 является <a href="http://mlug.linux.by/cgi-bin/index.cgi">Minsk Linux Users Group</a> при поддержке активистов из Гродно и Бреста.</p>
<p>Список спонсоров конференции уточняется.</p>

<p>В программу включена международная научно-практическая конференция, посвященная вопросам, касающимся свободного программного обеспечения. Формат - доклады и workshop-ы. В распоряжении докладчиков конференц-зал, проектор, звук. </p>
<p>К началу конференции будет выпущена электронная версия сборника тезисов. Предполагается также выход спецвыпуска журнала "Сетевые решения". </p>
<p>Авторы докладов освобождаются от регистрационного взноса. </p>
<p>Оргкомитетом учрежден приз за лучший доклад. </p>
<p>Авторам предлагается ознакомиться с порядком оформления и подачи тезисов. </p>
<p>Доступны для ознакомления материалы  <a href="programme-library.html">LVEE 2006 - LVEE 2007</a>.  </p>
