<h1>О конференции</h1>
<p>Международный слёт и конференция «Linux Vacation / Eastern Europe» проводится в Беларуси уже четвертый год, объединяя  общение и активный отдых энтузиастов в области свободного программного обеспечения и Linux в частности. В текущем году мероприятие пройдет 26-29 июня 2008 г. в окрестностях города Гродно. </p>
<p>Организаторами LVEE являются <a href="http://mlug.linux.by/cgi-bin/index.cgi">Minsk Linux Users Group</a>, а также активисты из Гродно и Бреста.</p>
<p>Список спонсоров конференции уточняется. На сегодняшний день о своем участии заявила компания <a href="http://www.sam-solutions.by/">SaM Solutions</a>. </p>

<p>Центральной частью LVEE является <strong>Международная конференция разработчиков и пользователей свободного программного обеспечения</strong>. Формат конференции включает доклады, workshop-ы и круглые столы. В распоряжении докладчиков конференц-зал, проектор, звук. К началу конференции планируется выпуск сборника тезисов. </p>
<p>Заявки на участие принимаются до <strong>10 июня</strong>. </p>
<p>Авторы докладов освобождаются от регистрационного взноса. Также оргкомитетом учрежден приз за лучший доклад. </p>
<p>Авторам предлагается ознакомиться с порядком оформления и подачи тезисов, посмотреть материалы  LVEE 2006 и LVEE 2007. Получить эту информацию, а также подробнее узнать о порядке подачи заявок можно в разделе <a href="participants">участникам</a>. </p>
