<h1> Про конференцію </h1>
<p> Міжнародний зліт і конференція «Linux Vacation/Eastern Europe» проводиться в Білорусі вже четвертий рік, поєднуючи  спілкування і активний відпочинок ентузіастів в області вільного програмного забезпечення і Linux зокрема. У поточному році захід відбудеться 26-29 червня 2008р., в околицях міста Гродно. </p>
<p> Організаторами LVEE є <a href="http://mlug.linux.by/cgi-bin/index.cgi">Minsk Linux Users Group</a>, а також активісти з Гродно і Бреста. </p>

<p> Перелік спонсорів конференції містить компанії <a href="http://www.sam-solutions.by/">SaM Solutions</a>, <a href="http://www.alatys.com/">Alatys</a>, <a href="http://www.promwad.com/">Promwad</a>,  <a href="http://www.epam.com/">Epam</a> и <a href="http://www.abaxia.com/">BLRSoft</a>. </p>

<p> Центральною частиною LVEE є <strong> міжнародна конференція розробників і користувачів вільного програмного забезпечення </strong>. Формат конференції включає доповіді, workshop-и і круглі столи. У розпорядженні доповідачів конференц-зал, проектор, звук. На початок конференції планується випуск збірника тез. </p>
<p> Заявки на участь приймаються до <strong>10 червня</strong>. </p>
<p> Автори доповідей звільняються від реєстраційного внеску. Також оргкомітетом встановлено нагороду за кращу доповідь. </p>
<p> Авторам пропонується ознайомитись з порядком оформлення і подання тез, переглянути матеріали  LVEE 2006 і LVEE 2007. Отримати дану інформацію, а також докладніше дізнатися про порядок подачі заявок можна в розділі <a href="participants"> учасникам </a>. </p>



