<h1>GNU/Linux</h1>
        <p style="font-style: italic; text-align: right;"> Матеріал з <a href="http://ru.wikipedia.org/wiki/GNU/Linux"> Вікіпедії </a> — вільної енциклопедії </p>
        
        <p><strong>GNU/Linux</strong> (вимовляється "гну слеш лінукс") — вільна UNIX-подібна операційна система, заснована на системних програмах, розроблених в рамках проекту GNU, та на ядрі Linux. Досить часто, з історичних причин, скорочено цю систему називають просто "Linux".</p>
		
        
          <p> На відміну від більшості інших операційних систем, GNU/Linux не має єдиної «офіційної» комплектації. Замість цього GNU/Linux розповсюджується у великій кількості так званих дистрибутивів, де програми GNU поєднуються з ядром Linux і іншими програмами. Найбільш відомими дистрибутивами GNU/Linux є Slackware, Red Hat, Fedora, Mandriva, SUSE, Debian, Gentoo, Ubuntu. Поміж дистрибутивів російських розробників найбільш відомі ALT Linux і ASPLinux.</p>
        
        
        <p> На відміну від Microsoft Windows (Windows NT), Mac OS (Mac OS X) і комерційних UNIX-подібних систем, GNU/Linux не має географічного центру розробки, немає і організації, яка володіла б цією системою, немає навіть єдиного координаційного центру. Програми для GNU/Linux — результат роботи тисяч проектів. Деякі з цих проектів централізовані, деякі зосереджені у фірмах, але більшість з них об'єднують програмістів зі всього світу, знайомих лише по листуванню. Створити свій проект або приєднатися до що вже існуючого може будь-хто і у випадку успіху результати роботи стануть відомі мільйонам користувачів. Користувачі беруть участь в тестуванні вільних програм, спілкуються безпосередньо з розробниками, що дозволяє швидко знаходити і виправляти помилки, реалізовувати нові ідеї.

<p> Історія розвитку UNIX-систем. GNU/Linux є UNIX-сумісною, проте базується на власному  коді. </p>


<p> Саме така гнучка і динамічна система розробки, неможлива для проектів із закритим кодом, визначає виняткову економічну ефективність GNU/Linux. Низька вартість вільних розробок, налагоджені механізми тестування і розповсюдження, залучення людей з різних країн, які мають власне бачення проблем, захист коду ліцензією GPL — все це стало причиною успіху вільних програм. </p>

<p> Звісно, така висока ефективність розробки не могла не зацікавити великі компанії, які почали відкривати свої проекти. Так з'явилися Mozilla (Netscape, AOL), OpenOffice.org (Sun), вільний клон Interbase (Borland) — Firebird, SAP DB (SAP). IBM сприяла перенесенню GNU/Linux на свої мейнфрейми. </p>

<p> З іншого боку, відкритий код значно знижує собівартість розробки закритих систем для GNU/Linux і дозволяє знизити ціну такого рішення для користувача. От чому GNU/Linux стала платформою, що часто рекомендується для продуктів, як то Oracle Database, DB2, Informix, SyBase, SAP R3, Domino.</p>

<p> Спільнота GNU/Linux підтримує зв'язок за допомогою груп користувачів Linux.</p>
