<h1>GNU/Linux</h1>
        <p style="font-style: italic; text-align: right;">Матэрыял з <a href="http://ru.wikipedia.org/wiki/GNU/Linux">Вікіпедыі</a> — свабоднай энцыклапедыі</p>
        
        <p><strong>GNU/Linux</strong> (вымаўляецца "гну слэш лінукс") — свабодная UNIX-падобная аперацыйная сістэма. Яна заснаваная на сістэмных праграмах, распрацаваных у межах праекта GNU, і на ядры Linux. Часта, з гістарычным прычын і дзеля зручнасці, гэтую сістэму клічуць проста "Linux".</p>

		
        
        
        <p>У адрозненне ад бальшыні іншых аперацыйных сістэм, GNU/Linux не мае адзінай «афіцыйнай» камплектацыі. Замест гэтага GNU/Linux пастаўляецца ў шматлікіх так званых дыстрыбуцыях, дзе праграмы GNU спалучаюцца з ядром Linux і іншымі праграмамі. Найвядомейшымі дыстрыбуцыямі GNU/Linux з'яўляюцца Slackware, Red Hat, Fedora, Mandriva, SuSE, Debian, Gentoo, Ubuntu.</p>
        
        
        <p>У адрозненне ад Microsoft Windows (Windows NT), Mac OS (Mac OS X) і камерцыйных UNIX-падобных сістэм, GNU/Linux не мае геаграфічнага цэнтра распрацоўкі. Няма таксама арганізацыі, якая б валодала гэтай сістэмай; няма нават адзінага каардынацыйнага цэнтра. Праграмы для GNU/Linux — вынік працы тысяч праектаў. Некаторыя з гэтых праектаў цэнтралізаваныя, некаторыя засяроджаныя ў фірмах, але ў бальшыні яны яднаюць праграмістаў з усяго свету, знаёмых адзін з адным толькі праз ліставанне. Стварыць свой праект ці далучыцца да ўжо наяўнага можа любы чалавек і, ў выпадку поспеху, вынікі працы стануць вядомымі мільёнам карыстальнікаў. Карыстальнікі дапамагаюць тэставаць праграмы, наўпрост камунікуюць з распрацоўшчыкамі, што дазваляе хутка знаходзіць і выпраўляць хібы і рэалізоўваць новыя магчымасці.
Гісторыя развіцця UNIX-сістэм. GNU/Linux з'яўляецца узгодненай з UNIX сістэмай, але заснаваная на сваім выточным кодзе.</p>


<p>Менавіта такая гнуткая і дынамічная сістэма распрацоўкі, немагчымая для праектаў з закрытым кодам, забяспечвае выключную эканамічную эфектыўнасць GNU/Linux. Нізкі кошт свабодных распрацовак, наладжаныя механізмы тэставання і распаўсюду, прыцягванне да ўдзелу людзей з розных краін, якія бачаць праблемы з іншых ракурсаў, абарона коду ліцэнзіяй GPL — усё гэта стала прычынай паспяховасці свабодных праграм. </p>

<p>Канечне, такая высокая эфектыўнасць распрацоўкі не магла не зацікавіць буйныя фірмы, якія пачалі адкрываць свае праекты. Так з'явіліся Mozilla (Netscape, AOL), OpenOffice.org (Sun), свабодны клон Interbase (Borland) — Firebird, SAP DB (SAP). IBM дапамагла перанесці GNU/Linux на свае мэйнфрэймы.</p>

<p>З іншага боку, адкрыты код значна зніжае кошт распрацоўкі закрытых сістэм для GNU/Linux і дазваляе знізіць цану рашэння для карыстальніка. Вось чаму GNU/Linux стала платформай, якую часта рэкамендуюць для такіх прадуктаў, як Oracle Database, DB2, Informix, SyBase, SAP R3, Domino.</p>

<p>Супольнасць GNU/Linux падтрымлівае сувязь праз групы карыстальнікаў Linux.</p>

