<h1> Місце проведення конференции</h1>

<p> В 2008 році конференція пройде на турбазі "Хімік", неподалік від м.Гродно. </p>

<p>
Організовуватиметься централізована доставка з Мінська і Гродно в день початку LVEE і централізоване повернення учасників в останній день.
</p>

<p>
Більш докладна інформація про доставку буде надана пізніше.
</p>

<p>
Для охочих дістатися до турбази власним транспортом доступні <a href="http://article.gmane.org/gmane.user-groups.linux.minsk.general/362"> словесна інструкція </a>, <a href="http://article.gmane.org/gmane.user-groups.linux.minsk.general/360"> карти місцевості </a>, <a href="http://maps.google.com/maps?f=q&hl=en&q=hrodna&sll=37.0625,-95.677068&sspn=53.300127,104.0625&ie=UTF8&ll=53.798218,24.201164&spn=0.039237,0.101624&t=k&z=13&om=1"> дані Google Maps </a>, а також <a href="http://linux.grodno.by/LVEE_map.png"> графічне зображення маршруту </a>.
</p>




