<h1>Место проведения конференции</h1>

<p> В 2008 году конференция пройдет на турбазе "Химик" в окрестностях г. Гродно. </p>

<p>
Будет организована централизованная доставка из Минска и Гродно в день начала LVEE и централизованный возврат участников в последний день.
</p>

<p>
Более подробная информация о доставке будет представлена позже.
</p>

<p>
Для желающих добраться до турбазы своим транспортом доступны <a href="http://article.gmane.org/gmane.user-groups.linux.minsk.general/362">словесная инструкция</a>, <a href="http://article.gmane.org/gmane.user-groups.linux.minsk.general/360">карты местности</a>, <a href="http://maps.google.com/maps?f=q&hl=en&q=hrodna&sll=37.0625,-95.677068&sspn=53.300127,104.0625&ie=UTF8&ll=53.798218,24.201164&spn=0.039237,0.101624&t=k&z=13&om=1">данные Google Maps</a>, а также <a href="http://linux.grodno.by/LVEE_map.png">графическое изображение маршрута</a>.
</p>

<p> Участники, добирающиеся к месту проведения конференции личным автотранспортом, публикуют информацию на <a href="http://lvee.org.by/index.php/%D0%9B%D0%B8%D1%87%D0%BD%D1%8B%D0%B9_%D0%90%D0%B2%D1%82%D0%BE%D1%82%D1%80%D0%B0%D0%BD%D1%81%D0%BF%D0%BE%D1%80%D1%82">Wiki</a>. Вы можете скоординировать свои планы, а также найти попутчиков из своего региона. </p>



