<h1>Place of the Conference</h1>

<p> In 2008 the Conference will be carried out at the "Himik" tourist camp near Grodno. </p>

<p>
Centralized delivery of participants will be organized from Minsk and from Grodno on the first day of the meeting, as well as centralized return on its last day. 
</p>

<p>
More details on delivery will appear later.
</p>

<p>
Those who would like to reach the place by their own transport can find a <a href="http://article.gmane.org/gmane.user-groups.linux.minsk.general/362">wordy instruction</a>, <a href="http://article.gmane.org/gmane.user-groups.linux.minsk.general/360">scanned maps</a>, <a href="http://maps.google.com/maps?f=q&hl=en&q=hrodna&sll=37.0625,-95.677068&sspn=53.300127,104.0625&ie=UTF8&ll=53.798218,24.201164&spn=0.039237,0.101624&t=k&z=13&om=1"> Google Maps data</a>, as well as <a href="http://linux.grodno.by/LVEE_map.png">a sketch of a route</a> (all the references except Google Maps are in Russian). 
</p>



