<h1>Месца правядзення канферэнцыі</h1>

<p> У 2008 годзе канферэнцыя адбудзецца на турыстычнай базе "Химик" у аколіцах Гародні. </p>

<p>
Будзе арганізаваная цэнтралізаваная дастаўка з Мінску і Гародні ў дзень пачатку LVEE і цэнтралізаванае вяртанне ўдзельнікаў у апошні дзень.
</p>

<p>
Падрабязнейшыя звесткі пра дастаўку з'явяцца пазней.
</p>

<p>
Для ахвочых самастойна даехаць да турыстычнай базы даступныя <a href="http://article.gmane.org/gmane.user-groups.linux.minsk.general/362">тлумачэнне на словах</a>, <a href="http://article.gmane.org/gmane.user-groups.linux.minsk.general/360">карты мясцовасці</a>, <a href="http://maps.google.com/maps?f=q&hl=en&q=hrodna&sll=37.0625,-95.677068&sspn=53.300127,104.0625&ie=UTF8&ll=53.798218,24.201164&spn=0.039237,0.101624&t=k&z=13&om=1">звесткі Google Maps</a>, а таксама <a href="http://linux.grodno.by/LVEE_map.png">графічны рысунак маршрута</a>.
</p>



