    	<h1>The Press</h1>
        
        <h2>2007</h2>

        <ul>
        	<li><a href="http://www.nestor.minsk.by/sr/">Setevye Resheniya</a> (Network Solutions) magazine have published the special edition totally devoted to LVEE (Issue 6, 2007). One can find there information on the meeting, learn its history, read interviews with organizers and sponsors of the conference, see chosen digests for three years the conference was carried out. </li>
  
        </ul>
   
        <h2>2006</h2>
        <ul>
        	<li> <a href="http://kv.minsk.by/index2006232107.htm" class="external text" title="http://kv.minsk.by/index2006232107.htm" rel="nofollow">Kompyuternye Vesti</a> (Computer News) newspaper

</li>		
			<li> <a href="http://naviny.by/ru/content/rubriki/0-ya_gruppa/novosti/kompyuter/02-06-06-30/" class="external text" title="http://naviny.by/ru/content/rubriki/0-ya gruppa/novosti/kompyuter/02-06-06-30/" rel="nofollow">naviny.by</a>
</li>
		</ul>
     	<h2>2005</h2>
<ul><li> <a href="http://www.bdg.press.net.by/" class="external text" title="http://www.bdg.press.net.by/" rel="nofollow">BDG</a> (Belorussian Business Newspaper) made publications <a href="http://bdg.press.net.by/2005/06/2005_06_21.1535/1535_11_2.shtml" class="external text" title="http://bdg.press.net.by/2005/06/2005 06 21.1535/1535 11 2.shtml" rel="nofollow">before</a> the fest and just <a href="http://bdg.press.net.by/2005/09/2005_09_13.1558/1558_8_1.shtml" class="external text" title="http://bdg.press.net.by/2005/09/2005 09 13.1558/1558 8 1.shtml" rel="nofollow">after</a> it.

</li><li> <a href="http://kv.by/" class="external text" title="http://kv.by/" rel="nofollow">Kompyuternye Vesti </a> (Computer News), of course, <a href="http://kv.minsk.by/index2005272101.htm" class="external text" title="http://kv.minsk.by/index2005272101.htm" rel="nofollow">didn't miss</a> it. .

</li><li> <a href="http://www.nestor.minsk.by/sr/" class="external text" title="http://www.nestor.minsk.by/sr/" rel="nofollow">Setevye Resheniya</a> (Network Solutions) published an <a href="http://www.nestor.minsk.by/sr/2005/11/sr51102.html" class="external text" title="http://www.nestor.minsk.by/sr/2005/11/sr51102.html" rel="nofollow">article</a> based on one of the conference reports.
</li><li> <a href="http://news.by/335/2005-07-07/3561/" class="external text" title="http://news.by/335/2005-07-07/3561/" rel="nofollow">This text </a> <a href="http://inf.by/linux/16/?task=filter&amp;sort%5B1%5D=a." class="external text" title="http://inf.by/linux/16/?task=filter&amp;sort[1]=a." rel="nofollow">was</a> <a href="http://www.test-the-best.by/epmttb/news210705_08.jsp" class="external text" title="http://www.test-the-best.by/epmttb/news210705 08.jsp" rel="nofollow">on many</a> <a href="http://bybanner.com/show.php3?id=954" class="external text" title="http://bybanner.com/show.php3?id=954" rel="nofollow">Internet</a>  news sites.

</li></ul>

