    	<h1>Пресса</h1>
        
        <h2>2007</h2>

        <ul>
        	<li>Журнал <a href="http://www.nestor.minsk.by/sr/">Сетевые решения</a> выпустил специальный номер, целиком посвящённый LVEE (No. 6 за 2007 год). В нем можно найти сведения о мероприятии, узнать историю создания, прочитать интервью с организаторами и спонсорами конференции, увидеть материалы избранных докладов за три года проведения.</li>
  
        </ul>
   
        <h2>2006</h2>
        <ul>
        	<li> <a href="http://kv.minsk.by/index2006232107.htm" class="external text" title="http://kv.minsk.by/index2006232107.htm" rel="nofollow">Компьютерные вести</a>

</li>		
			<li> <a href="http://naviny.by/ru/content/rubriki/0-ya_gruppa/novosti/kompyuter/02-06-06-30/" class="external text" title="http://naviny.by/ru/content/rubriki/0-ya gruppa/novosti/kompyuter/02-06-06-30/" rel="nofollow">naviny.by</a>
</li>
		</ul>
     	<h2>2005</h2>
<ul><li> <a href="http://www.bdg.press.net.by/" class="external text" title="http://www.bdg.press.net.by/" rel="nofollow">БДГ</a> <a href="http://bdg.press.net.by/2005/06/2005_06_21.1535/1535_11_2.shtml" class="external text" title="http://bdg.press.net.by/2005/06/2005 06 21.1535/1535 11 2.shtml" rel="nofollow">отозвалась перед</a> фэстом и <a href="http://bdg.press.net.by/2005/09/2005_09_13.1558/1558_8_1.shtml" class="external text" title="http://bdg.press.net.by/2005/09/2005 09 13.1558/1558 8 1.shtml" rel="nofollow">кое-что по мотивам</a> напечатала после.

</li><li> <a href="http://kv.by/" class="external text" title="http://kv.by/" rel="nofollow">КВ</a>, конечно, <a href="http://kv.minsk.by/index2005272101.htm" class="external text" title="http://kv.minsk.by/index2005272101.htm" rel="nofollow">не забыла</a>.

</li><li> <a href="http://www.nestor.minsk.by/sr/" class="external text" title="http://www.nestor.minsk.by/sr/" rel="nofollow">Сетевые решения</a> напечатали <a href="http://www.nestor.minsk.by/sr/2005/11/sr51102.html" class="external text" title="http://www.nestor.minsk.by/sr/2005/11/sr51102.html" rel="nofollow">статью</a>, которая перекликается с одним из докладов на конференции.
</li><li> <a href="http://news.by/335/2005-07-07/3561/" class="external text" title="http://news.by/335/2005-07-07/3561/" rel="nofollow">Этот текст</a> <a href="http://inf.by/linux/16/?task=filter&amp;sort%5B1%5D=a." class="external text" title="http://inf.by/linux/16/?task=filter&amp;sort[1]=a." rel="nofollow">прошёл</a> <a href="http://www.test-the-best.by/epmttb/news210705_08.jsp" class="external text" title="http://www.test-the-best.by/epmttb/news210705 08.jsp" rel="nofollow">по многим</a> <a href="http://bybanner.com/show.php3?id=954" class="external text" title="http://bybanner.com/show.php3?id=954" rel="nofollow">сетевым</a> новостным сайтам.

</li></ul>

