/*
*= require blueprint/print
*= require_self
*/

.header {
    display: none;
}

.flags {
    display:none;
}

.friends {
    display: none;
}

.footer .column {
    display: none
}

.footer .copy {
    display: block;
    font-size: 80%;
}

p.notice {
    display: none;
}

p.warn {
    display: none;
}

p.controls {
    display: none;
}
