/* -------------------------------------------------------------------
// markItUp! Universal MarkUp Engine, JQuery plugin
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp * {
	margin:0px; padding:0px;
	outline:none;
}
.markItUp a:link,
.markItUp a:visited {
	color:#000;
	text-decoration:none;
}
.markItUp  {
	border:2px solid #F5F5F5;
}
.markItUpContainer  {
	padding-top: 5px;
	padding-left: 5px;
}
.markItUpEditor {
	padding:5px;
	margin-left: -5px;
	border: 0px none;
	border-top: 1px solid rgb(245, 245, 245);
	border-bottom: 1px solid rgb(245, 245, 245);
	width:556px !important;
	height:320px;
	clear:both;
	line-height:18px;
	overflow:auto;
}
.markItUpPreviewFrame	{
	overflow:auto;
	background-color:#FFFFFF;
	border:1px solid #3C769D;
	width:99.9%;
	height:300px;
	margin:5px 0;
}
.markItUpFooter {
	width:100%;
	cursor:n-resize;
}
.markItUpResizeHandle {
	overflow:hidden;
	width:22px; height:5px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(/images/markitup/handle.png);
	cursor:n-resize;
}
/***************************************************************************************/
/* first row of buttons */
.markItUpHeader ul li	{
	list-style:none;
	float:left;
	position:relative;
}
.markItUpHeader ul li ul{
	display:none;
}
.markItUpHeader ul li:hover > ul{
	display:block;
}

.markItUpHeader ul .markItUpSeparator {
	margin:0 10px;
	width:1px;
	height:16px;
	overflow:hidden;
	background-color:#CCC;
}
.markItUpHeader ul ul .markItUpSeparator {
	width:auto; height:1px;
	margin:0px;
}

.markItUpHeader ul ul ul {
	position:absolute;
	top:-1px; left:150px;
}
.markItUpHeader ul ul ul li {
	float:none;
}
.markItUpHeader ul a {
	display:block;
	width:16px; height:16px;
	text-indent:-10000px;
	background-repeat:no-repeat;
	padding:3px;
	margin:0px;
}
.markItUpHeader ul ul a {
	display:block;
	padding-left:0px;
	text-indent:0;
	width:120px;
	padding:5px 5px 5px 25px;
	background-position:2px 50%;
}
.markItUpHeader ul ul a:hover  {
	color:#FFF;
	background-color:#3C769D;
}



  .textile .markItUpButton1 a {	background-image:url(/images/markitup/h1.png);}
  .textile .markItUpButton2 a {	background-image:url(/images/markitup/h2.png);}
  .textile .markItUpButton3 a { background-image:url(/images/markitup/h3.png);}
  .textile .markItUpButton4 a { background-image:url(/images/markitup/h4.png);}
  .textile .markItUpButton5 a {	background-image:url(/images/markitup/h5.png);}
  .textile .markItUpButton6 a {	background-image:url(/images/markitup/h6.png);}
  .textile .markItUpButton7 a {	background-image:url(/images/markitup/paragraph.png);}
  .textile .markItUpButton8 a {	background-image:url(/images/markitup/bold.png);}
  .textile .markItUpButton9 a {	background-image:url(/images/markitup/italic.png);}
  .textile .markItUpButton10 a { background-image:url(/images/markitup/stroke.png);}
  .textile .markItUpButton11 a { background-image:url(/images/markitup/list-bullet.png);}
  .textile .markItUpButton12 a { background-image:url(/images/markitup/list-numeric.png);}
  .textile .markItUpButton13 a { background-image:url(/images/markitup/picture.png);}
  .textile .markItUpButton14 a { background-image:url(/images/markitup/link.png);}
  .textile .markItUpButton15 a { background-image:url(/images/markitup/quotes.png);}
  .textile .markItUpButton16 a { background-image:url(/images/markitup/code.png);}
  .textile .preview a {	background-image:url(/images/markitup/preview.png);}
