<div class="footer">
  <span class="copy"><%= t('message.license.text')%> <br /> <a href="http://creativecommons.org/licenses/by-sa/3.0/"><img src="/images/80x15.png" alt="licensed under Creative Commons" /></a></span>

  <%= render_footer_menu %>
</div><!-- footer -->
