</div><!-- content -->

<div class="footer">
  <div class="sponsors-logo">
    <a href="http://www.sam-solutions.by" ><img src="/images/sams-small.png" alt="Sam Solutions" /></a>
    <a href="http://www.epam.com/"><img src="/images/epam-small.png" alt="EPAM" /></a>
    <a href="http://www.promwad.com/"><img src="/images/promwad-small.png" alt="Promwad" /></a><br/>
    <a href="http://www.abaxia.com/"><img src="/images/blrsoft-small.png" alt="Blrsoft" /></a>
    <a href="http://www.alatys.com/"><img src="/images/alatys-small.png" alt="Alatys" /></a>
  </div>

</div><!-- footer -->
</div> <!-- all -->

<div class="licence"><p><img src="/images/copy-left.gif" alt="copy left" /> 2005-2008 LVEE | Valid XHTML 1.0 Strict</p></div>


<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-1833850-4";
urchinTracker();
</script>

</body>
</html>
