<ul>
  <li><a href="#">Organizer</a>
    <ul>
      <li><a href="#"><img src="images/logo-mlug.gif" alt="" /></a></li>
    </ul>
  </li>
  <li><a href="#">Sponsors</a>
    <ul>
      <li><a href="#"><img src="images/logo-sam-solutions.gif" alt="" /></a></li>
      <li><a href="#"><img src="images/logo-prom-wad.gif" alt="" /></a></li>
      <li><a href="#"><img src="images/logo-epam.gif" alt="" /></a></li>
      <li><a href="#"><img src="images/logo-blr-soft.gif" alt="" /></a></li>
      <li><a href="#"><img src="images/logo-alatys.gif" alt="" /></a></li>
      <li><a href="#"><img src="images/logo-onliner.gif" alt="" /></a></li>
    </ul>
  </li>
  <li><a href="#">Information sponsor</a>
    <ul>
      <li><a href="#"><img src="images/logo-web-solutions.gif" alt="" /></a></li>
    </ul>
  </li>
</ul>
