function ie6SetCookie(){
var today = new Date();
var expire = new Date();
expire.setTime(today.getTime() + 2592000000);
document.cookie = "ie6suxxblocked=crap;expires="+expire.toGMTString();}
var ie6working=1;
if (document.cookie.length>0){
c_start=document.cookie.indexOf("ie6suxxblocked=");
if (c_start!=-1){
c_start=c_start + 15;
c_end=document.cookie.indexOf(";",c_start);
if (c_end==-1) c_end=document.cookie.length;
if (unescape(document.cookie.substring(c_start,c_end)) =='crap')
ie6working=0;}}
function ie6move(dx,top,disp){
for (var i=0; i<document.all.length; i++){
if (document.all[i].id == 'i6sux') continue;
if (document.all[i].style.position == 'absolute'){
t = parseInt(document.all[i].style.top);
if (!isNaN(t))
document.all[i].style.top = (t + dx) + 'px';}}
if (parseInt(document.body.runtimeStyle.paddingTop) == 0)
document.body.style.paddingTop = top+"px";
else
document.body.style.marginTop = top+"px";
document.getElementById('i6sux').style.display = disp;}
function ie6(){
ie6move(25,25,'block');}
function ie6suxxblock(){
ie6SetCookie();
ie6move(-25,0,'none');}
if (ie6working){
window.attachEvent("onload", ie6);
document.write('<div id="i6sux" style="padding: 0; margin: 0;\
text-align: center; font:12px arial bold; color:white;\
border-bottom: 1px solid #aca899; display:none;\
background-color:#1492A3; z-index:100; position:absolute;\
left:0px; top: 0;\
width: expression(((document.documentElement.clientWidth==0)?document.body.clientWidth:document.documentElement.clientWidth)+\'px\');\
height:25px;">\
<div style="padding: 4px;margin-right: 10px"><%= my_encode_ascii(t("message.iefuck.message", :link => "<a style=\\'color:white; font-weight: bold; font: inherit;\\' href=\\'#{t("message.iefuck.link")}\\' target=\\'_blank\\'>#{t("message.iefuck.link_text")}</a>"))%>\
<a style="position:absolute; top:-22px; right:10px;color:white;text-decoration:none;font:12px Tahoma bold;"\
href="javascript:ie6suxxblock()">x</a></div></div>');}
